@charset "UTF-8";

.container {
	width: 100%;
	background-color: #ececec;
}

.fullScreen {
	/*0522 - width: 1600px; 에서 1200 으로 수정함*/
/* 	width: 1200px; */
	width: 1600px;
	margin: 0 auto;
/* 	height: 85vh; 0523 - 수정 */
	height: 817px;
	padding: 20px;
	/* padding-bottom: 50px; */
}

.fullScreen::after {
	clear: both;
	content: '';
	display: block;
}

.fullScreen>div {
/* 	0522 - width: calc(100%/ 3);에서 /2로 수정함 */
/* 	width: calc(100%/ 2); */
	width: calc(100%/ 3);
	height: 100%;
	box-sizing: border-box;
	float: left;
}

.fullScreen .container {
	width: 40%;
	background-color: #eee;
	display: inline-block;
	height: 100%;
}

.con_countDown {
	font-size: 30px;
}

.left_main .remainTime {
	width: 90%;
	padding: 20px;
	background-color: #fff;
	text-align: center;
	margin-bottom: 15px;
}

.left_main .auction_info {
	width: 90%;
	padding: 20px;
	background-color: #fff;
	/* 	text-align: center; */
	margin-bottom: 15px;
	height: 664px;
}

.con_period {
	display: inline-block;
	float: right;
}

.con_price {
	display: inline-block;
	float: right;
}

.notice_title {
	font-size: 20px;
}

.left_main .auction_info .con_tit {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
}

.left_main .auction_info .con_detail {
	font-size: 20px;
}

.fullScreen .container .chat-content {
	height: 30%;
	width: 98%;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	background-color: #f8f8f8;
	padding: 20px;
}

.fullScreen .container .chat-info .chat_notice {
	overflow: scroll;
	text-overflow: ellipsis;
	height: 100px;
}

.fullScreen .container .chat-info .chat_tit {
	font-size: 25px;
	display: inline-block;
}

.fullScreen .container .chat-info .con_numPeo {
	display: inline-block;
	float: right;
}

.chat-info .chat_category {
	color: #bb2649;
	font-weight: 600;
}

.chat-info .chat_period {
	color: #bb2649;
}

.chat-chart {
	width: 98%;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	background-color: #f8f8f8;
	padding: 20px;
	margin-top: 10px;
}

.fullScreen .container .chat-info {
	height: 30%;
	width: 98%;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	background-color: #f8f8f8;
	padding: 20px;
}
/* 경매 메인화면*/
.pickedContentContainer {
	display: inline-block;
	width: 1200px;
	margin-top: 20px;
}

.pickedContent {
	float: left;
	display: block;
	position: relative;
	width: 280px;
	margin-right: 20px;
	border-radius: 10px;
}

.auctionTab {
	display: table;
	width: 100%;
	table-layout: fixed;
	position: relative;
	background-color: #f1f1f1;
	padding: 0;
	margin-top: 20px;
}

.auctionTab li {
	display: table-cell;
	height: 50px;
	position: relative;
	background-color: #fff;
	border: 1px solid #e7e7e7;
}

.auctionTab li a {
	display: block;
	position: relative;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.auctionTab li.on a, .auctionTab li:hover a {
	z-index: 1;
	color: #111;
	font-weight: 600;
}

.auctionTab li.on:after, .auctionTab li:hover:after {
	height: 100%;
}

.auctionTab li:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1;
}

.auctionTab .on {
	border: 1.3px solid rgb(66, 112, 237);
}

.tabcontent {
	display: none;
}

.tabcontent.on {
	display: block;
}

.ddday {
	display: inline-block;
	background: #bb2649;
	color: white;
	padding: 12px;
	border-radius: 50%;
	font-size: 13px;
	font-weight: 400;
	box-shadow: 1px 1px 3px 1px rgb(0 0 0/ 43%);
	margin-top: 156px;
	margin-left: 220px;
	text-align: center;
	width: 30px;
}

.tab_content {
	margin-left: 10px;
}

.contentImage {
	width: 100%;
	height: 180px;
	background-position: 50%;
	background-size: cover;
}

.contentBox {
	position: relative;
	/* height: 130px; */
	padding: 16px 12px;
}

.buttonContainer {
	position: absolute;
	right: 16px;
	bottom: 16px;
}

.clickArea {
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	color: transparent;
	font-size: 0;
}

.contentBox .con_period {
	color: #bb2649;
	font-weight: 600;
	font-size: 13px;
}

.contentBox .con_tit {
	font-size: 17px;
	font-weight: 700;
	height: 50px;
	margin-top: 16px;
}

.user-icon {
	background: url(../images/main/user-solid.png) center center no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.contentBox .con_numPeo {
	display: inline-block;
	float: right;
}

.contentBox .con_price {
	display: block;
	float: right;
}

.contentBox .con_detail {
	margin-top: 20px;
}

.dday {
	display: inline-block;
	background: #bb2649;
	color: white;
	padding: 12px;
	border-radius: 50%;
	font-size: 13px;
	font-weight: 400;
	box-shadow: 1px 1px 3px 1px rgb(0 0 0/ 43%);
	margin-top: 98px;
	margin-left: 158px;
	text-align: center;
	width: 40px;
	height: 40px;
}



.tab_content {
	margin-left: 10px;
}

.contentImage {
	width: 100%;
	height: 180px;
	background-position: 50%;
	background-size: cover;
}

.contentBox {
	position: relative;
	/* height: 130px; */
	padding: 16px 12px;
}

.buttonContainer {
	position: absolute;
	right: 16px;
	bottom: 16px;
}

.clickArea {
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	color: transparent;
	font-size: 0;
}

.contentBox .con_period {
	color: #bb2649;
	font-weight: 600;
	font-size: 13px;
}

.contentBox .con_tit {
	font-size: 17px;
	font-weight: 700;
}

.user-icon {
	background: url(../images/main/user-solid.png) center center no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.contentBox .con_numPeo {
	display: inline-block;
	float: right;
}

.contentBox .con_price {
	display: block;
	float: right;
}

.contentBox .con_detail {
	margin-top: 20px;
}

.dday {
	display: inline-block;
	background: #bb2649;
	color: white;
	padding: 12px;
	border-radius: 50%;
	font-size: 13px;
	font-weight: 400;
	box-shadow: 1px 1px 3px 1px rgb(0 0 0/ 43%);
	margin-top: 98px;
	margin-left: 158px;
	text-align: center;
	width: 40px;
	height: 40px;
}


.contentBox .con_period {
	color: #bb2649;
	font-weight: 600;
	font-size: 15px;
	float: right;
}

.contentBox .con_pick {
	float: right;
}

.fullScreen .auction_center .auction_realTime::after {
	clear: both;
	content: '';
	display: block;
}

.fullScreen .auction_center>div {
	width: 100%;
	height: calc(100%/ 3);
	box-sizing: border-box;
	width: 97%;
}

.fullScreen .auction_center .auction_realTime {
	text-align: center;
	padding: 8px;
	background-color: #fff;
	height: 20%;
	margin-bottom: 12px;
	width: 97%;
}

.auction_notice {
	font-size: 15px;
	margin: 10px 0;
}

.auction_price {
	font-size: 30px;
	color: #bb2649;
	font-weight: 600;
}

.auction_alert span {
	font-size: 14px;
	color: #292929;;
	margin-bottom: 20px;
}

.auction_id {
	display: inline-block;
	float: center;
	background-color: #bb2649;
	padding: 7px 9px;
	margin-top: 12px;
	border-radius: 15px;
}

.auction_id span {
	font-size: 20px;
	font-weight: 400;
	color: white;
}

.auction_realStatus {
	border: 4px solid #fff inset;
	padding: 20px;
}

.auction_log {
	font-size: 16px;
	color: #dcdcdc;
	text-align: center;
	font-weight: 400;
	display: inline-block;
	width: 450px;
	height: 160px;
	overflow: scroll;
}

.auction_log_title {
	color: #fff;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.auction_input {
	padding: 30px 20px;
}

.auction_input_title {
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
}


.auction_input .bid {
	font-size: 18px;
	width: 100%;
	display: inline-block;
}

.auction_input .bid .bid_left {
	display: inline-block;
	width: 50%;
	font-weight: 600;
	 float : left;
	text-align: center;
	float: left;
}

.auction_input .bid .bid_right {
	display: inline-block;
	width: 50%;
}
.auction_input .bid .bid_right input[type=button] {
	padding: 4px 10px;
}


.auction_input .bid .bid_right input[type=text]  {
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
	border: 1px solid #727272;
	padding: 5px;
	width: 150px;
	margin-right: 10px;
}

.auction_input .bid div {
	margin-bottom: 20px;
	height: 32px;
	line-height: 30px;
}

.buyNow{
	width: 100%;
	color:#bb2649;
}

.buyNow input{
	margin: 0 auto;
}

.fullScreen .auction_center .auction_realStatus {
	background-color: #212121;
	height: 33%;
	margin-bottom: 13px;
	width: 97%;
	border: 12px solid #9d9d9d;
}

.fullScreen .auction_center .auction_input {
	background-color: #fff;
	height: 43.5%;
}

/* 채팅 */
.right_main {
	width: 92%;
/* 	height: 84.5vh; 5/23 수정*/
	height: 811px;
	border: 1px solid #ebebeb;
	background-color: #fff;
	float: right;
	/* margin: 20px 0 165px; */
	margin-right: 40px;
}

.right_main .chat_header {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 20px;
	height: 50px
}

.right_main .chat_header:after {
	display: block;
	clear: both;
	content: ""
}

.right_main .chat_header .image_box {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	cursor: pointer
}

.right_main .chat_header .image_box img {
	width: 50px;
	height: 50px;
	border-radius: 50%
}

.right_main .chat_header .info {
	float: left;
	display: table;
	cursor: pointer
}

.right_main .chat_header .info div {
	height: 50px;
	display: table-cell;
	vertical-align: middle
}

.right_main .chat_header .info span:first-child {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	display: block
}

.right_main .chat_header .info span:nth-child(2) {
	color: #4e4e4c;
	font-size: 14px;
	display: block;
	margin-top: 4px
}

.right_main .chat_header .declaration {
	float: right;
	display: table
}

.right_main .chat_header .declaration div {
	height: 50px;
	display: table-cell;
	vertical-align: middle
}

.right_main .chat_header .declaration img {
	width: 18px;
	cursor: pointer
}

.chat_description {
	overflow: auto;
	height: calc(77vh - 151px);
	border-bottom: 1px solid #ebebeb
}

.chat_description .chat_type3 {
	overflow: hidden;
	margin-top: 20px
}

.chat_description .chat_type3_image_box {
	float: left;
	margin: 0 18px 0 20px
}

.chat_description .chat_type3_message {
	position: relative;
	float: left;
	text-align: left;
	width: 220px;
	background-color: #ebebeb
}

.chat_description .chat_type3_message span {
	font-size: 13.5px;
	color: #000
}

.chat_description .chat_type3_image_box .chat_type3_image {
	width: 38px;
	height: 38px;
	border-radius: 50%
}

.chat_description .chat_type3_timeago {
	position: absolute;
	font-size: 9px;
	color: #b4b4b4;
	right: -51px;
	bottom: 3px
}

.chat_description .chat_type3_message_box {
	float: left;
	padding: 1px;
	width: 218px
}

.chat_description .chat_myself {
	overflow: hidden;
	margin-top: 20px
}

.chat_description .chat_myself_message {
	max-width: 200px;
	background-color: #BB2649;
	margin-right: 21px;
	word-break: break-all
}

.chat_description .chat_myself_emoticon, .chat_description .chat_myself_message
	{
	position: relative;
	float: right;
	text-align: left;
	padding: 9px 12px;
	border-radius: 10px 0 10px 10px
}

.chat_description .chat_myself_emoticon {
	max-width: 232px
}

.chat_description .chat_myself_image {
	position: relative;
	float: right;
	text-align: left;
	max-width: 232px;
	padding: 0 12px 0 2px;
	border-radius: 10px 0 10px 10px
}

.chat_description .chat_myself_message span {
	font-size: 13.5px;
	color: #fff
}

.chat_description .chat_myself_message:after {
	content: "";
	position: absolute;
	border-color: transparent transparent #BB2649 !important;
	border: 10px solid #000;
	transform-origin: 0 0;
	right: 0;
	top: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.chat_description .chat_myself_timeago {
	position: absolute;
	font-size: 11px;
	color: #b4b4b4;
	left: -70px;
	bottom: 3px;
	width: 60px;
	text-align: right
}

.chat_description .chat_myself_emoticon_image {
	width: 100px
}

.chat_description .chat_myself_image_file {
	width: 170px;
	border-radius: 5px;
	cursor: pointer
}

.chat_description .chat_myself_ack {
	position: absolute;
	color: #b4b4b4;
	left: -20px;
	bottom: 20px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #b4b4b4;
	width: 10px;
	height: 10px;
	text-align: center
}

.chat_description .chat_myself_ack:after {
	content: "";
	display: block;
	width: 3px;
	height: 5px;
	border: solid #b4b4b4;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
	position: absolute;
	top: 1px;
	left: 3px
}

.chat_description .chat_myself_ack.active {
	color: #fff;
	border: 1px solid #0484f6;
	background-color: #0484f6
}

.chat_description .chat_myself_ack.active:after {
	content: "";
	display: block;
	width: 3px;
	height: 5px;
	border: solid #fff;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
	position: absolute;
	top: 1px;
	left: 3px
}

.chat_description .chat_myself .chat_myself_box:after {
	display: block;
	clear: both;
	content: ""
}

.chat_description .chat_videoPlayIcon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 24% !important;
	z-index: 99;
	opacity: .7;
	cursor: pointer
}

.chat_description .chat_videoPlayIcon:hover {
	opacity: 1
}

.chat_description .chat_timeago {
	margin-top: 20px
}

.chat_description .chat_timeago_box {
	width: 106px;
	height: 20px;
	border-radius: 9.8px;
	background-color: #f5f5f5;
	text-align: center;
	margin: 0 auto
}

.chat_description .chat_timeago_box .chat_timeago_text {
	font-size: 11px;
	color: #687383
}

.chat_description .chat_item {
	overflow: hidden;
	margin-top: 20px
}

.chat_description .chat_item_image_box {
	float: left;
	margin: 0 11px
}

.chat_description .chat_item_message {
	position: relative;
	float: left;
	text-align: left;
	width: 222px;
	height: auto;
	background-color: #ebebeb;
	border: 1px solid #ebebeb
}

.chat_description .chat_item_message span {
	font-size: 13.5px;
	color: #000
}

.chat_description .chat_item_image_box .chat_item_image {
	width: 38px;
	height: 38px;
	border-radius: 50%
}

.chat_description .chat_item_timeago {
	position: absolute;
	font-size: 11px;
	color: #b4b4b4;
	right: -70px;
	bottom: 3px;
	width: 60px;
	text-align: left
}

.chat_description .chat_item_message_main {
	width: 222px;
	background-color: #fff;
	margin: 0 auto;
	cursor: pointer
}

.chat_description .chat_item_message_title {
	width: 180px;
	font-size: 14px;
	padding: 13px 27px 3px 11px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.chat_description .chat_item_message_price {
	font-size: 18px;
	color: #000;
	padding: 0 11px 8px
}

.chat_description .chat_item_message_link {
	width: 222px;
	background-color: #fff;
	color: #0484f6;
	text-align: center;
	font-size: 12px;
	margin: 1px auto 0;
	padding: 10px 0;
	cursor: pointer
}

.chat_description .image_outside {
	position: relative;
	padding-top: 100%;
	overflow: hidden
}

.chat_description .image_outside .image_centerbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	transform: translate(50%, 50%)
}

.chat_description .image_outside .image_centerbox .chat_item_message_image
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10
}

.chat_description .chat_item_message_box {
	cursor: pointer
}

.chat_description .chat_order {
	overflow: hidden;
	margin-top: 20px
}

.chat_description .chat_order_image_box {
	float: left;
	margin: 0 18px 0 11px
}

.chat_description .chat_order_message {
	position: relative;
	float: left;
	text-align: left;
	width: 222px;
	background-color: #ebebeb
}

.chat_description .chat_order_message span {
	font-size: 13.5px;
	color: #000
}

.chat_description .chat_order_image_box .chat_order_image {
	width: 38px;
	height: 38px;
	border-radius: 50%
}

.chat_description .chat_order_timeago {
	position: absolute;
	font-size: 11px;
	color: #b4b4b4;
	right: -70px;
	bottom: 3px;
	width: 60px;
	text-align: left
}

.chat_description .chat_order_message_box {
	float: left;
	padding: 1px
}

.chat_description .chat_order_message_box:after {
	content: "";
	display: block;
	clear: both
}

.chat_description .chat_order_message_item {
	float: left;
	background-color: #fff;
	width: 160px;
	height: 60px
}

.chat_description .chat_order_message_item:after {
	content: "";
	display: block;
	clear: both
}

.chat_description .chat_order_message_item .chat_order_message_item_title
	{
	padding: 10px 0 6px 8px;
	font-size: 14px;
	color: #4e4e4c;
	width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.chat_description .chat_order_message_item .chat_order_message_item_price
	{
	padding: 0 0 9px 8px;
	font-size: 16px;
	color: #000
}

.chat_description .chat_order_message_image {
	width: 60px;
	height: 60px;
	float: left
}

.chat_description .chat_order_message_main {
	width: 222px;
	background-color: #fff;
	margin: 0 auto
}

.chat_description .chat_order_message_title {
	width: 180px;
	font-size: 14px;
	padding: 13px 27px 6px 11px
}

.chat_description .chat_order_message_price {
	font-size: 18px;
	color: #000;
	padding: 0 11px 8px
}

.chat_description .chat_order_message_link {
	width: 220px;
	background-color: #fff;
	color: #0484f6;
	text-align: center;
	font-size: 12px;
	margin-top: 1px;
	padding: 10px 0;
	cursor: pointer;
	float: left
}

.chat_description .chat_order_message_link:after {
	content: "";
	display: block;
	clear: both
}

.chat_description .chat_order_message_box .chat_order_message_content1 {
	font-size: 14px;
	background-color: #fff;
	float: left;
	padding: 16px 12px;
	color: #000;
	margin-top: 1px;
	width: 196px
}

.chat_description .chat_order_message_box .chat_order_message_content1:after
	{
	content: "";
	display: block;
	clear: both
}

.chat_description .chat_order_message_box .chat_order_message_content2 {
	font-size: 13px;
	color: #4e4e4c;
	float: left;
	background-color: #fff;
	padding: 12px 35px 12px 12px;
	margin-top: 1px
}

.chat_description .chat_order_message_box .chat_order_message_content2:after
	{
	content: "";
	display: block;
	clear: both
}

.chat_description .chat_order_message_image_box {
	cursor: pointer
}

.chat_description .chat_type2 {
	overflow: hidden;
	margin-top: 20px
}

.chat_description .chat_type2_image_box {
	float: left;
	margin: 0 18px 0 11px
}

.chat_description .chat_type2_message {
	position: relative;
	float: left;
	text-align: left;
	width: 222px;
	background-color: #ebebeb;
	border: 1px solid #ebebeb
}

.chat_description .chat_type2_message span {
	font-size: 13.5px;
	color: #000
}

.chat_description .chat_type2_image_box .chat_type2_image {
	width: 38px;
	height: 38px;
	border-radius: 50%
}

.chat_description .chat_type2_timeago {
	position: absolute;
	font-size: 11px;
	color: #b4b4b4;
	right: -70px;
	bottom: 3px;
	width: 60px;
	text-align: left
}

.chat_description .chat_type2_message_main {
	width: 222px;
	background-color: #fff;
	margin: 0 auto;
	border-top: 1px solid #ebebeb
}

.chat_description .chat_type2_message_title {
	width: 180px;
	font-size: 14px;
	padding: 10px 27px 10px 11px
}

.chat_description .chat_type2_message_price {
	font-size: 18px;
	color: #000;
	padding: 0 11px 8px
}

.chat_description .chat_type2_message_link {
	width: 222px;
	background-color: #fff;
	color: #0484f6;
	text-align: center;
	font-size: 12px;
	margin: 1px auto 0;
	padding: 10px 0;
	cursor: pointer
}

.chat_description .image_wrapper {
	width: 100%;
	background-color: #000
}

.chat_description .chat_type2_message_image {
	width: 222px;
	display: block
}

.chat_input[contenteditable=true]:empty:after {
	content: attr(placeholder);
	color: #b4b4b4;
	cursor: text;
	font-size: 15px;
	display: block
}

.chat_input[contenteditable=true] {
	position: relative
}

.chat_footer {
	height: 40px;
	padding: 15px 15px 15px 21px
}

.chat_footer .chat_input {
	width: 80%;
	overflow: auto;
	height: 65px;
	outline: 0;
	line-height: 21px;
	color: #000;
	font-size: 15px;
	float: left
}

.chat_footer .chat_input span {
	color: #000 !important;
	background-color: #fff !important
}

.chat_footer .chat_input div {
	color: #000
}

.chat_footer .chat_footer_area textarea {
	display: none
}

.chat_footer button {
	color: #fff;
	background-color: #BB2649;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
	width: 80px;
	height: 60px;
	margin-top: 0px;
}

.chat_empty {
	margin-top: 200px
}

.chat_empty .chat_empty_image {
	text-align: center;
}


.cFvuGS {
    overflow: hidden;
    margin-top: 20px;
}

.giIZqy {
    position: relative;
    float: left;
    text-align: left;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    padding: 9px 12px;
    border-radius: 0px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    word-break: break-all;
}

.ZPeEt {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}

.jXWPOW {
    position: absolute;
    font-size: 11px;
    color: rgb(180, 180, 180);
    right: -70px;
    bottom: 3px;
    width: 60px;
    text-align: left;
}


.hYaaYd {
    float: left;
    width: 85%;
    font-size: 12px;
    color: rgb(78, 78, 76);
    margin-bottom: 5px;
}

.eLwuXd {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin: 0px 9px 0px 11px;
}

.lecfCu {
    margin-top: 20px;
}
