@charset "UTF-8";

.fullScreen {
	width: 100%;
	height: 100%;
	position: fixed;
	padding: 10px;
}

/* 기본 배경화면은 white */

a:visited, a:link {
	color: gray;
	text-decoration: none;
}

/* 상단 설정바 조절 */
.setting_bar {
	text-align: right;
}

.setting_bar>* {
	margin: 0.25rem; /* 브라우저 폰트크기 16px 기준 : 4px */
	font-size: 0.75rem; /* 브라우저 폰트크기 16px 기준 : 10px */
	color: gray;
}

/* 카카오톡 채팅방(chat-room.html) 레이아웃만 작성 */
/* 메인페이지 큰 레이아웃은 grid로 구성함 */
body {
	margin: 0; /* 페이지의 여유공간 없애버림 */
}

/* grid container 적용 */
#chat-body {
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: minmax(3.125rem, auto) 6.25rem;
	grid-template-rows: 2.5rem 2.5rem auto;
	align-items: stretch;
	grid-template-areas: " header   setting  " " header  main_menu "
		"  main     main    ";
	top: 0;
	width: 60%;display: inline-block;float: right;height: 100%;
	
}

/* 배경화면 설정 */
#chat-body, .setting_bar, .main-menu, header {
	
background-color: #b7c2d8;
	
background-repeat: repeat;
	
background-position: top left;
	
background-attachment: fixed;
	
z-index: 98;
	
border-radius: 15px;
}

/* 설정바 스타일 지정 */
.setting_bar {
	grid-area: setting;
	line-height: 2.5rem;
	vertical-align: middle;
	margin-right: 0.625rem;
	position: sticky;
	top: 0;
}

/* 알림, 메뉴 기능 스타일 지정 */
.main-menu {
	grid-area: main_menu;
	text-align: right;
	font-size: 1rem;
	color: grey;
	line-height: 2.5rem;
	vertical-align: middle;
	margin-right: 0.625rem;
	position: sticky;
	top: 2.5rem;
}

/* 프로필 사진, 프로필명 등 헤더 스타일 지정 */
header {
	grid-area: header;
	padding-top: 0.9375rem;
	padding-bottom: 0.9375rem;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 0.625rem;
}

.profile-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.profile-img {
	/* 프로필 사진 스타일 */
	width: 3.125rem;
	margin-right: 0.625rem;
}

header * {
	font-size: 0.8125rem;
	font-weight: bold;
	color: grey;
}

.profile-name {
	/* 프로필명 폰트 스타일 지정 */
	font-size: 0.8125rem;
}

.sub-menu>* {
	/* 프로필명 아래 메뉴들 정렬 */
	display: inline-block;
	margin-top: 0.625rem;
	padding-right: 0.3125rem;
}

.sub-menu>*:nth-child(n+2) {
	padding-left: 0.3125rem;
	border-left: 1px solid rgb(165, 165, 165);
}

/* main(채팅내용) 스타일 지정 */
main {
	/* 채팅내용 영역 전체 flex box 적용 */
	grid-area: main!important;
	display: flex!important;
	flex-direction: column!important;
	justify-content: flex-start!important;
}

/* main(채팅내용) 여백 지정 */
.chat-content {
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

/* main 중 고정 공지사항 스타일 지정 */
.notice-bar {
	padding: 10px;
	position: sticky;
	top: 5rem;
	/* background-color: white; */
	background-color: rgba(255, 255, 255, 0.95);
	display: flex;
	flex-direction: row;
	z-index: 99;
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

.notice-bar>* {
	font-size: 0.875rem;
	line-height: 1.875rem;
	vertical-align: middle;
}

.notice-bar>i {
	font-size: 1.5rem;
	color: gray;
	font-weight: bold;
}

.notice-bar>span {
	flex-grow: 1;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

/* 말풍선 공통 스타일 지정 */
.friend-chat-col, .me-chat-col {
	display: flex;
	flex-direction: column;
	position: relative;
}

/* 친구의 채팅 말풍선들 flex 레이아웃 구성 */
.friend-chat {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 0.3125rem;
	margin-bottom: 0.3125rem;
}

.friend-chat>.profile-img {
	align-self: flex-start;
}

.friend-chat-col>.balloon {
	margin-top: 0.3125rem;
	padding: 0.4375rem;
	border: 1px solid rgb(228, 233, 230);
	border-radius: 0.1875rem;
	background-color: rgb(228, 233, 230);
	font-size: 0.8125rem;
	color: black;
}

.friend-chat-col>.balloon::before {
	content: "";
	border-bottom: 0.6875rem solid transparent;
	border-right: 0.6875rem solid rgb(228, 233, 230);
	position: absolute;
	top: 1.563rem;
	left: -0.5rem;
}

/* 나의 채팅 말풍선들 flex 레이아웃 구성 */
.me-chat {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 0.625rem;
	margin-top: 0.3125rem;
	margin-bottom: 0.3125rem;
}

.me-chat-col>.balloon {
	margin-top: 0.3125rem;
	padding: 0.4375rem;
	border: 1px solid rgb(94, 122, 100);
	border-radius: 0.1875rem;
	background-color: rgb(94, 122, 100);
	font-size: 0.8125rem;
	color: white;
}

.me-chat-col>.balloon::before {
	content: "";
	border-bottom: 0.6875rem solid transparent;
	border-left: 0.6875rem solid rgb(94, 122, 100);
	position: absolute;
	top: 0.625rem;
	right: -0.5rem;
}

/* 채팅 말풍선의 시간(time) 아래로 정렬 (flex item들) */
.main-chat time {
	align-self: flex-end;
	flex-basis: 3.75rem;
	flex-shrink: 0;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	font-size: 0.75rem;
	color: rgb(88, 88, 88);
	text-align: center;
}

.friend-chat>time {
	margin-right: 2.5rem;
}

.me-chat>time {
	margin-left: 2.5rem;
}

/* 날짜선(date-line) 스타일 지정 */
.date-line {
	/* flex 사용 */
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgb(88, 88, 88);
	font-size: 0.875rem;
}

.date-line::before, .date-line::after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background-color: rgba(88, 88, 88, 0.3);
	font-size: 0px;
	line-height: 0px;
}

/* 채팅 입력차 스타일 지정 */
.insert-content {
	background-color: white;
	padding: 10px;
	position: fixed;
	bottom: 0;
	/* left: 0; */
	/* right: 0; */
	/* height: 50px; */
	width: 59.5%;
	/* display: block; */
	/* margin-right: 10px; */
	/* margin-bottom: 10px; */
	/* padding-bottom: 10px; */
}

textarea {
	resize: none;
	border: none;
	height: 4.375rem;
}

/* 채팅 입력창 flex로 정렬 */
form[name="chatform"] {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

form[name="chatform"]>textarea {
	flex-basis: 100%;
	flex-grow: 1;
	height: 40px;
}

.chat-submit {
	margin-left: 10px;
	border: 1px solid rgb(94, 122, 100);
	background-color: rgb(248, 248, 248);
	color: rgb(94, 122, 100);
	padding: 0.1875rem;
	width: 3.125rem;
	transition-property: background-color, color;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.chat-submit:hover {
	background-color: rgb(94, 122, 100);
	color: rgb(248, 248, 248);
}

/* 채팅 입력창 서브 메뉴 스타일 조정 */
.insert-menu {
	margin-top: 0.3125rem;
	margin-bottom: 0.3125rem;
	font-size: 1.125rem;
	color: grey;
}

.insert-menu>*:nth-child(n+1) {
	padding-right: 0.375rem;
}

.chat{
	display: contents;
}

.main-chat{
    overflow: scroll;
}


.fullScreen .container{
	width: 40%;background-color: #eee;display: inline-block;height: 100%;
}

.fullScreen .container .chat-content {
	
height: 30%;
	
width: 98%;
	
border: 1px solid #b5b5b5;
	
border-radius: 10px;
	
background-color: #f8f8f8;
	
padding: 20px;
}
.fullScreen .container .chat-info .chat_notice {
	overflow:scroll;
	text-overflow:ellipsis;
	height: 100px;
}
.fullScreen .container .chat-info .chat_tit{
	font-size: 25px;
	display: inline-block;
}
.fullScreen .container .chat-info .con_numPeo{
	display: inline-block;
	float: right;
}
.chat-info .chat_category{
	color: #bb2649;
	font-weight: 600;
}
.chat-info .chat_period{
	color: #bb2649;
}

.chat-chart{
	width: 98%;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	background-color: #f8f8f8;
	padding: 20px;
	margin-top: 10px;
}

.fullScreen .container .chat-info  {
	height: 30%;
	width: 98%;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	background-color: #f8f8f8;
	padding: 20px;
}

.pickedContentContainer {
    display: inline-block;
    width: 100%!important;
    margin: 0 0 0 -40px;
}

.pickedContent {
    float: left;
    display: block;
    position: relative;
    width: 245px;
    margin: 0 0 0 40px;
    border-radius: 10px;
}



/* 경매 메인화면*/
.auctionTab {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
    background-color: #f1f1f1;
    padding: 0;
    margin-top: 20px;
}
.auctionTab li {
    display: table-cell;
    height: 50px;
    position: relative;
    background-color: #fff;
    border: 1px solid #e7e7e7;
}


.auctionTab li a {
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.auctionTab li.on a, .auctionTab li:hover a {
    z-index: 1;
    color: #111;
    font-weight: 600;
}

.auctionTab li.on:after, .auctionTab li:hover:after {
    height: 100%;
}
.auctionTab li:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
   
    z-index: 1;
}



.auctionTab .on{
	 border: 1.3px solid rgb(66, 112, 237);
}

.tabcontent {
	display: none;
}

.tabcontent.on {
	display: block;
}
.ddday {
    display: inline-block;
    background: #bb2649;
    color: white;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 43%);
    margin-top: 98px;
    margin-left: 186px;
    text-align: center;
    width: 30px;
}



