@charset "UTF-8";


html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body ::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	-ms-overflow-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], /* 1 */ input[type="reset"], input[type="submit"]
	{
	cursor: pointer; /* 3 */
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
	{
	height: auto;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}
table tr td {
	vertical-align: top;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

ul li {
	list-style: none;
}


* {
	font-family: 'Noto Sans KR';
}

a {
	text-decoration: none;
}

a:hover {
	color: #000;
}

input[type="text"], input[type="password"] {
	margin: 0;
	padding: 0;
	border-radius: 0;
}

body {
	background-color: #fff;
}

img {
	display: block;
	max-width: 100% !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ul, ul li {
	margin: 0;
	padding: 0;
}

nav ul {
	list-style: none;
}


blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*============================================================
/*
/* #header 
/*
============================================================== */


header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 130px;
	background: lightgray;
	text-align: center;
}

#content {
	min-height: 100%;
	position: relative;
}

/*  SECTIONS  */
.section {
	clear: both;
	margin: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#main-slider {
	height: 550px !important;
}

/*============================================================
/*
/* #메인 슬라이더
/*
============================================================== */

.section-main-slider>span {
	color: #fff;
	z-index: 50;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.section-main-slider>span.kind {
	position: absolute;
	top: 34px;
	left: 160px;
	font-size: 50px;
	/* font-weight: 300; */
}

.section-main-slider>span.title-ko {
	position: absolute;
	top: 117px;
	left: 390px;
	font-size: 30px;
}

.section-main-slider>span.title-fo {
	position: absolute;
	top: 162px;
	left: 390px;
	font-size: 20px;
}

.section-main-slider>span.desc {
	position: absolute;
	top: 211px;
	left: 390px;
	font-size: 18px;
}

.section-main-slider .slider-main {
	position: relative;
}

.section-main-slider .slider-main img {
	display: block;
	margin: 0 auto;
	min-width: 1020px;
}

.section-main-slider .slider-main .bx-wrapper, .section-main-slider .slider-main .bx-viewport
	{
	height: 550px !important;
	border: none !important;
}

.section-main-slider .slider-main .bxslider-main {
	min-height: 550px;
}

.section-main-slider .slider-main .bxslider-main li {
	height: 550px !important;
	position: relative;
}

.section-main-slider .slider-main .bxslider-main li a {
	background-size: cover !important;
	display: block;
	width: 100%;
	height: 100%;
}

.section-main-slider .slider-main .bxslider-main li span {
	color: #fff;
	z-index: 50;
}

.section-main-slider .slider-main .bxslider-main li span.kind {
	position: absolute;
	top: 34px;
	left: 160px;
	font-size: 50px;
	font-weight: 300;
}

.section-main-slider .slider-main .bxslider-main li span.title-ko {
	position: absolute;
	top: 117px;
	left: 390px;
	font-size: 30px;
}

.section-main-slider .slider-main .bxslider-main li span.title-fo {
	position: absolute;
	top: 162px;
	left: 390px;
	font-size: 20px;
}

.section-main-slider .slider-main .bxslider-main li span.desc {
	position: absolute;
	top: 211px;
	left: 390px;
	font-size: 18px;
}

.section-main-slider .slider-main .bxslider-main li .left {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 778px;
	height: 550px;
	background: url("../images/main/slider/bg-left.png") left top no-repeat;
	z-index: 20;
}

.section-main-slider .slider-main .bx-pager {
	padding: 0;
	position: relative;
	bottom: 38px;
	text-align: center;
	margin: 0 auto;
	z-index: 100;
}

.section-main-slider .slider-main .bx-pager .bx-pager-link {
	width: 18px;
	height: 18px;
	display: inline-block;
	overflow: hidden;
	text-indent: -10000em;
	background-color: #ffffff;
	border-radius: 9px;
	margin: 0 8px 0 7px;
	/* border: 2px solid; */
}

.section-main-slider .slider-main .bx-pager .bx-pager-link.active {
	background-color: #bb2649;
	border: 2px solid #ececec;
	box-sizing: border-box;
}

.section-main-slider .slider-main .bx-pager .custom-control {
	width: 18px;
	height: 18px;
	display: inline-block;
	overflow: hidden;
	text-indent: -10000em;
	margin-left: 4px;
}

.section-main-slider .slider-main .bx-pager .custom-control.play {
	background: url("../images/main/slider/btn-play.png") center center
		no-repeat;
}

.section-main-slider .slider-main .bx-pager .custom-control.pause {
	background: url("../images/main/slider/btn-pause.png") center center
		no-repeat;
}

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	background-color: #ececec !important;
	border: none !important;
	box-shadow: none !important;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
	height: 230px !important;
	width: 190px !important;
	border-radius: 10px;
}
.bx-viewport {
	height: 300px;
}

.bx-wrapper .bx-viewport {
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

/* LOADER */
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item
	{
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 100;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active
	{
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active
	{
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: center;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
	{
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	/* 	background: #666\9; */
	background: rgba(80, 80, 80, 0.75);
	/* 	width: 100%; */
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

/* .slider-main .bxslider-main .carousel-cell img { width:100%;} */

/* position dots in carousel */
.bx-pager {
	text-align: center;
	position: absolute;
	bottom: 8px;
	cursor: pointer;
	width: 100%;
}


/* 메인 */
.main_title {
    position: relative;
    display: block;
    color: #0b0c0c;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
}
.buttons {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 25px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.greenButton {
    color: #fff;
    background: #13bd7e;
}
.violetButton {
    color: #fff;
    background: #bb2649;
}
.button_main {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 41px;
    -webkit-box-shadow: 0 4px 9px rgba(0,0,0,.15);
    box-shadow: 0 4px 9px rgba(0,0,0,.15);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.button_main:not(:first-child) {
    margin: 14px 0 0;
}

.whiteButton {
    color: #bb2649;
    border: 1px solid #bb2649;
    background: #fff;
}

.mustardButton {
    color: #111;
    background: #ffbe4c;
}

.descriptionCard {
    color: #ededee;
}

.descriptionCard {
    position: relative;
    margin: 8px 0 0;
    font-size: 22px;
    line-height: 25px;
}
.titleCard {
    position: relative;
    display: block;
    color: #fafafa;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
}
/* 뉴스 */

.main-board {
    width: 960px;
    margin: 0 auto !important;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.news_list_wrap .top{
	margin-bottom: 20px;
}
.main-board .news {
    width: 100%;
}
.news_title{
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
	color: #2b2b2b;
}

.news_list_wrap .btn_more {
    padding: 2px 15px 3px;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    line-height: 1.417em;
    display: inline-block;
}

.news_list_wrap .top{
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.news_list{
    display: flex;
    padding-left: -5px;
}

.news_list .news_box {
    width: calc(31% - 17.55px);
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    height: 300px;
    padding: 15px;
}

.news_list .news_tit{
	font-size: 20px;
	font-weight: 600;
	color: #2b2b2b;
	
}

.news_list p{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 280px;
	height: 216px;
}


.chall-board {
    width: 960px;
    margin: 0 auto !important;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.challenge_list_wrap .top{
	margin-bottom: 20px;
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.challenge_title{
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
	color: #2b2b2b;
}

.challenge_list_wrap .btn_more {
    padding: 2px 15px 3px;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    line-height: 1.417em;
    display: inline-block;
}

/* 챌린지 */

.pickedContentContainer {
    display: block;
    width: 100%;
    margin: 24px -16px 0 0;
    height: 300px;
}

.pickedContent {
    float: left;
    display: block;
    width: calc(25% - 16px);
    margin: 0 16px 16px 0;
}

.landingPickWrap {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.26);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.26);
    text-align: left;
}
.contentImage {
    width: 100%;
    height: 130px;
    background-position: 50%;
    background-size: cover;
}

.contentBox {
    position: relative;
    height: 85px;
    padding: 16px 12px;
}
.buttonContainer {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.clickArea {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: transparent;
    font-size: 0;
}


.contentBox .con_period{
	color: #bb2649;
	font-weight: 600;
	font-size: 13px;
}
.contentBox .con_tit{
	font-size: 17px;
	font-weight: 700;
}
.user-icon{
	background: url(../images/main/user-solid.png) center center no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.contentBox .con_numPeo{
	display: inline-block;
}
.contentBox .con_price{
	display: block;
	float: right;
}
.contentBox .con_detail{
	margin-top: 20px;
}
