@charset "UTF-8";

.MainImgWrapper {
    position: relative;
    cursor: pointer;
}

.MainImgWrapper .swiper-pagination {
    display: none;
}

.MainImgWrapper .swiper-button-prev {
    display: none;
}

.MainImgWrapper .swiper-button-next {
    display: none;
}


.layoutChildren {
	margin-top:75px;
}



 .leftSectionWrapper {
     width: 558px;
     height: 800px;
}

 .newDetailWrapper {
     margin: 60px auto 120px;
     margin-top: 62px;
     width: 100%;
}

 .newDetailMain {
     z-index: 3;
     max-width: 1200px;
     margin: 0 auto 104px;
     position: relative;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
}

.MainImgItemImg 
{
    position: relative;
    width: 558px;
    height: 558px;
    object-fit: cover;
    cursor: -webkit-url('https:-webkit-//ccimage.hellomarket.com/img/web/common/ico_zoom.png'),auto;
    cursor: -moz-url('https:-moz-//ccimage.hellomarket.com/img/web/common/ico_zoom.png'),auto;
    cursor: url('https://ccimage.hellomarket.com/img/web/common/ico_zoom.png'),auto;
}

.SellStateImgWrapper {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    height: 54px;
    bottom: 20px;
    width: 100%;
}

 .PreviewImgListWrapper {
     position: relative;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     margin-top: 16px;
     height: 90px;
}
 .PreviewImgListWrapper .swiper-button-prev {
     display: none;
}
 .PreviewImgListWrapper .swiper-button-next {
     display: none;
}

 .PreviewImgListPreviewImgContainer {
     width: 470px;
}

 .PreviewImgListItemImg {
     width: 90px;
     height: 90px;
     margin-right: 4px;
     object-fit: cover;
     opacity: 40%;
}

 .NavigationCustomNavigationContainer {
     position: absolute;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
}


 .NavigationCustomImgBox {
     cursor: pointer;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-align-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     width: 40px;
     height: 90px;
}

 .NavigationCustomArrowImg {
     width: 7px;
     height: 13px;
     object-fit: cover;
}

.NavigationCustomArrowImg 
{
    width: 7px;
    height: 13px;
    object-fit: cover;
}

.profileProfileData 
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}


 .profileWrapper {
     border-top: 1px solid #e5e8eb;
     margin-top: 30px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-align-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: 18px 10px 0 10px;
}


 .profileWrapper {
     border-top: 1px solid rgb(229, 232, 235);
     margin-top: 30px;
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     align-items: center;
     padding: 18px 10px 0px;
}


 .profileProfileImg {
     width: 70px;
     height: 70px;
     border-radius: 50%;
}


 .ProfileInfoWrapper {
     margin-left: 20px;
}

.ProfileInfoProfileName {
    -webkit-letter-spacing: -0.2px;
    -moz-letter-spacing: -0.2px;
    -ms-letter-spacing: -0.2px;
    letter-spacing: -0.2px;
    font-weight: 600;
    font-size: 0.938rem;
    font-family: Pretendard Variable;
    line-height: 134%;
}
/* sc-component-id: ProfileInfo__ItemCountBox-b9q6x7-2 */
 .ProfileInfoItemCountBox {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 3px;
}

 .ProfileInfoProduct {
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 400;
     font-size: 0.875rem;
     font-family: Pretendard Variable;
     line-height: 145%;
}
/* sc-component-id: ProfileInfo__ItemQuantity-b9q6x7-4 */
 .ProfileInfoItemQuantity {
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 700;
     font-size: 0.875rem;
     font-family: Pretendard Variable;
     line-height: 145%;
     margin-left: 4px;
}

.ProfileInfoRating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3px;
}


 .ProfileInfoRating {
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     margin-top: 3px;
}

 .ProfileInfoStarImg {
     object-fit: cover;
     width: 10px;
     height: 10px;
     margin-right: 2px;
}
 .ProfileInfoRatingScore {
     -webkit-letter-spacing: 0px;
     -moz-letter-spacing: 0px;
     -ms-letter-spacing: 0px;
     letter-spacing: 0px;
     font-weight: 700;
     font-size: 0.875rem;
     font-family: Pretendard Variable;
     line-height: 100%;
}

 .FollowFollowingImg {
     width: 66.71px;
     height: 34px;
     cursor: pointer;
}

 .rightSectionWrapper {
     width: 50%;
}

 .TopNavigationWrapper {
     display: flex;
     align-items: center;
     justify-content: flex-end;
}
 .TopNavigationWrapper img {
     margin-left: 10px;
     margin-right: 5px;
    /* 占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙占쏙옙 */
}
 .TopNavigationIcon {
     width: 24px;
     height: 24px;
     margin-left: auto;
     cursor: pointer;
}

 .TitleWrapper {
     display: block;
     margin: 0 46px 10px 0;
}

.TitleBrandText {
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 800;
     font-size: 1.123rem;
     font-family: Pretendard Variable;
     color: #D1D6DB;
     pointer-events: none;
}

 .TitleText1 {
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Pretendard Variable;
    color: #191f28;
    margin: 12px 0 24px;
}


 .TitleText2 {
     -webkit-letter-spacing: 0px;
     -moz-letter-spacing: 0px;
     -ms-letter-spacing: 0px;
     letter-spacing: 0px;
     font-weight: 800;
     font-size: 1.75rem;
     font-family: Pretendard Variable;
     color: #191f28;
}

.SubTitleWrapper {
     margin: 0 54px 32px 0;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: row-reverse;
     -ms-flex-direction: row-reverse;
     flex-direction: row-reverse;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
/* sc-component-id: SubTitle__DetailBox-sc-73w2hk-1 */
 .SubTitleDetailBox {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-align-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}


 .SubTitleDetailText {
     -webkit-letter-spacing: 0px;
     -moz-letter-spacing: 0px;
     -ms-letter-spacing: 0px;
     letter-spacing: 0px;
     font-weight: 500;
     font-size: 0.875rem;
     font-family: Pretendard Variable;
     color: #8b95a1;
     margin-right: 6px;
}

.SubTitleWishBox {
     cursor: pointer;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
}

 .SubTitleIcon {
     width: 14px;
     height: 14px;
     margin: auto 6px auto 12px;
}

.SubTitleDetailText {
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.875rem;
    font-family: Pretendard Variable;
    color: #8b95a1;
    margin-right: 6px;
}

  .SubTitleTagBox {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }

 .SubTitleTagText {
     -webkit-letter-spacing: 0px;
     -moz-letter-spacing: 0px;
     -ms-letter-spacing: 0px;
     letter-spacing: 0px;
     font-weight: 600;
     font-size: 0.875rem;
     font-family: Pretendard Variable;
     line-height: 100%;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     padding: 11px;
     margin-right: 7.2px;
     border-radius: 7.2px;
     cursor: default;
     pointer-events: all;
     background: #F6F8F9;
     color: #8B95A1;
}

 .itemControllerWrapper {
     margin: 0 47px 31px 0;
}

 .SomeonesItemWrapper {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
}

 .WishWrapper {
     width: 50px;
     text-align: center;
     margin-right: -2px;
     margin: auto -2px auto 0;
}

 .WishIcon {
     width: 30px;
     height: 30px;
     cursor: pointer;
}


.WishText {
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 0.875rem;
    font-family: Pretendard Variable;
    line-height: 100%;
}

.SomeonesItemButton {
    margin-left: 6px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #268BFF;
    border-radius: 10px;
    padding: 18px 0;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

 .SomeonesItemIcon {
     width: 20px;
     height: 20px;
     margin-right: 6px;
}

.SomeonesItemText {
     -webkit-letter-spacing: 0px;
     -moz-letter-spacing: 0px;
     -ms-letter-spacing: 0px;
     letter-spacing: 0px;
     font-weight: 700;
     font-size: 1rem;
     font-family: Pretendard Variable;
     line-height: 100%;
     color: #0072F4;
}



.SomeonesItemIcon {
              width: 20px;
              height: 20px;
              margin-right: 6px;
          }

.SomeonesItemText {
      -webkit-letter-spacing: 0px;
      -moz-letter-spacing: 0px;
      -ms-letter-spacing: 0px;
      letter-spacing: 0px;
      font-weight: 700;
      font-size: 1rem;
      font-family: Pretendard Variable;
      line-height: 100%;
      color: #FFFFFF;
  }


 .DescriptionWrapper {
     margin: 0 42px 58px 0;
     padding-top: 32px;
     border-top: 1px solid #e5e8eb;
     line-height: 160%;
}
/* sc-component-id: Description__Text-l27tpk-1 */
 .DescriptionText {
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 400;
     font-size: 0.938rem;
     font-family: Pretendard Variable;
     line-height: 160%;
     color: #4e5968;
}

 .CategoryWrapper {
     margin-bottom: 54px;
}
/* sc-component-id: Category__Title-sc-1a66rfh-1 */
 .CategoryTitle {
     -webkit-letter-spacing: -0.2px;
     -moz-letter-spacing: -0.2px;
     -ms-letter-spacing: -0.2px;
     letter-spacing: -0.2px;
     font-weight: 700;
     font-size: 1rem;
     font-family: Pretendard Variable;
     line-height: 135%;
     color: #191f28;
     margin-bottom: 12px;
}
/* sc-component-id: Category__CategoryBox-sc-1a66rfh-2 */
 .CategoryCategoryBox {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
}


 .DivergedLinkTitle {
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 400;
     font-size: 1rem;
     font-family: Pretendard Variable;
     color: #4e5968;
     cursor: pointer;
     -webkit-text-decoration-line: underline;
     text-decoration-line: underline;
}

 .CategoryArrow {
     margin: auto 6px;
     width: 5px;
     height: 10px;
}

.DivergedLinkTitle {
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    font-weight: 400;
    font-size: 1rem;
    font-family: Pretendard Variable;
    color: #4e5968;
    cursor: pointer;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.DeliveryWrapper {
         margin: 52px 42px 0 0;
     }

 .DeliveryTitle {
     -webkit-letter-spacing: -0.2px;
     -moz-letter-spacing: -0.2px;
     -ms-letter-spacing: -0.2px;
     letter-spacing: -0.2px;
     font-weight: 700;
     font-size: 1rem;
     font-family: Pretendard Variable;
     line-height: 135%;
     color: #191f28;
     margin-bottom: 12px;
}
/* sc-component-id: Delivery__DeliveryBox-sc-1og3un6-2 */
 .DeliveryDeliveryBox {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     padding: 16px;
     border-radius: 8px;
     margin-bottom: 28px;
     background: #f5f9fe;
     -webkit-align-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}

 .DeliveryImg {
     width: 39px;
     height: 28px;
}
/* sc-component-id: Delivery__Text-sc-1og3un6-4 */
 .DeliveryText1 {
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 700;
     font-size: 0.938rem;
     font-family: Pretendard Variable;
     line-height: 160%;
     margin-left: 14px;
     width: 63px;
}
 .DeliveryText2 {
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 500;
     font-size: 0.938rem;
     font-family: Pretendard Variable;
     line-height: 160%;
     margin-left: 14px;
}

.DeliveryDeliveryBox {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       padding: 16px;
       border-radius: 8px;
       margin-bottom: 28px;
       background: #f5f9fe;
       -webkit-align-items: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
   }
.SafePaymentWrapper {
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
     }


 .SafePaymentImg {
     width: 14px;
     height: 16px;
}


 .SafePaymentTextWrapper {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-letter-spacing: -0.4px;
     -moz-letter-spacing: -0.4px;
     -ms-letter-spacing: -0.4px;
     letter-spacing: -0.4px;
     font-weight: 400;
     font-size: 0.875rem;
     font-family: Pretendard Variable;
     line-height: 145%;
     color: #697077;
}


 .SafePaymentText {
     margin: 0 3px 0 6px;
     font-weight: 600;
     color: #121619;
}

.AdSenseWrapper .responsive {
    margin: -19px 20px 10px;
}


/* 모달 ? */

.detail_report, .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    z-index: 9999;
    outline: 0;
}


.modal_main {
    width: 100%;
    height: 100%;
    outline: 0;
}

.modal_parent {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

.modal_parent .modal_container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ReportWrapper {
    width: 490px;
    margin: 0px auto;
    background: rgb(255, 255, 255);
    border-radius: 17px;
    border: 1px solid rgb(25, 31, 40);
}

.ReportCloseIcon {
    width: 17px;
    height: 17px;
    display: flex;
    cursor: pointer;
    margin: 34px 34px 10px auto;
}

.fwaQok {
    letter-spacing: 0px;
    font-weight: 800;
    font-size: 1.75rem;
    font-family: "Pretendard Variable";
    color: rgb(25, 31, 40);
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 68px;
}

.gGZdRJ {
    margin: 34px 68px 32px;
}

.ezioIF {
    display: flex;
    cursor: pointer;
}

.hzjjbI {
    width: 22px;
    height: 22px;
    margin: 0px 12px 15px;
}

.ejCmPe {
    letter-spacing: -0.4px;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Pretendard Variable";
    line-height: 150%;
    color: rgb(51, 61, 75);
}

.IZaFu {
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 1.125rem;
    font-family: "Pretendard Variable";
    line-height: 100%;
    color: rgb(255, 255, 255);
    padding: 11px 53px;
    text-align: center;
    border-radius: 10px;
    margin: 0px 67px 60px 69px;
    cursor: pointer;
    background: rgb(185, 218, 254);
}


















