@charset "UTF-8";



.content .main_area {
    width: 980px;
    margin: 0 auto;
    overflow: hidden
}

.content .main_area:after {
    display: block;
    clear: both;
    content: ""
}



.left_main {
    width: 270px;
    height: 77vh;
    border: 1px solid #ebebeb;
    background-color: #fff;
    margin: 20px 20px 0 0;
    float: left;
    position: relative
}

.left_main .left_main_header {
/*     display: none */
	text-align: center;
}
.left_main .left_main_header .title{
	line-height: 100px;
}
.left_main ul {
    height: 77vh;
    overflow-y: auto;
    overflow-x: hidden
}

.left_main ul li {
    margin: 0 20px;
    padding: 20px 0;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 40px
}

.left_main .card_box,.left_main ul li {
    position: relative
}

.left_main .card_box.active {
    background-color: #f7f7f7
}

.left_main .card_box.active li {
    border-bottom: 1px solid #f7f7f7;
    background-color: #f7f7f7
}

.left_main .card_box:hover {
    background-color: #f7f7f7
}

.left_main .card_box:hover li {
    border-bottom: 1px solid #f7f7f7;
    background-color: #f7f7f7
}

.left_main .etc_options {
    padding: 16px 20px;
    position: absolute;
    color: #4e4e4c;
    font-weight: 700;
    box-shadow: 2px 5px 18px rgba(0,0,0,.2);
    width: 110px;
    top: 33px;
    right: -120px;
    z-index: 30;
    border: 1px solid #ebebeb;
    background-color: #fff;
    cursor: pointer
}

.left_main .etc_options img {
    float: left;
    width: 15px
}

.left_main .etc_options span {
    float: left;
    color: #4e4e4c;
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
    font-weight: 700
}

.left_main .card_box.active .etc_dots:after,.left_main .card_box:hover .etc_dots:after {
    content: "\2807";
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 13px;
    color: #757575;
    cursor: pointer
}

.left_main ul li:after {
    display: block;
    clear: both;
    content: ""
}

.left_main ul li .profile {
    float: left
}

.left_main ul li .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ebebeb
}

.left_main ul li .info {
    float: left;
    margin-left: 10px;
    position: relative;
    width: 165px;
    height: 40px
}

.left_main ul li .info .nick {
    top: 0;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    width: 90px
}

.left_main ul li .info .description,.left_main ul li .info .nick {
    position: absolute;
    left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.left_main ul li .info .description {
    bottom: 0;
    font-size: 13px;
    color: #4e4e4c;
    width: 123px
}

.left_main ul li .info .time_ago {
    position: absolute;
    top: 0;
    right: -12px;
    font-size: 11px;
    color: #b4b4b4
}

.left_main ul li .info .count {
    position: absolute;
    bottom: -2px;
    right: 11px;
    border-radius: 9.5px;
    background-color: #0484f6;
    padding: 4px 7px;
    color: #fff;
    letter-spacing: -.55px;
    font-size: 11px;
    text-align: center
}



.right_main {
    width: 686px;
    height: 77vh;
    border: 1px solid #ebebeb;
    background-color: #fff;
    float: right;
    margin: 20px 0 165px
}

.right_main .chat_header {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 20px;
    height: 65px;
}

.right_main .chat_header:after {
    display: block;
    clear: both;
    content: ""
}

.right_main .chat_header .image_box {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer
}

.right_main .chat_header .image_box img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.right_main .chat_header .info {
    float: left;
    display: table;
    cursor: pointer
}

.right_main .chat_header .info div {
    height: 50px;
    display: table-cell;
    vertical-align: middle
}


.reight_main .chat_header .scheduling{
	display: inline-block;
}
.chat_header .scheduling .sch_date{
	color: #BB2649;
	margin-left: 60px;
}




.right_main .chat_header .info span:first-child {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    display: block
}

.right_main .chat_header .info span:nth-child(2) {
    color: #4e4e4c;
    font-size: 14px;
    display: block;
    margin-top: 4px
}

.right_main .chat_header .declaration {
    float: right;
    display: table
}

.right_main .chat_header .declaration div {
    height: 50px;
    display: table-cell;
    vertical-align: middle
}

.right_main .chat_header .declaration img {
    width: 18px;
    cursor: pointer
}

.chat_description {
    overflow: auto;
    height: calc(77vh - 151px);
    border-bottom: 1px solid #ebebeb
}

.chat_description .chat_type3 {
    overflow: hidden;
    margin-top: 20px
}

.chat_description .chat_type3_image_box {
    float: left;
    margin: 0 18px 0 20px
}

.chat_description .chat_type3_message {
    position: relative;
    float: left;
    text-align: left;
    width: 220px;
    background-color: #ebebeb
}

.chat_description .chat_type3_message span {
    font-size: 13.5px;
    color: #000
}

.chat_description .chat_type3_image_box .chat_type3_image {
    width: 38px;
    height: 38px;
    border-radius: 50%
}

.chat_description .chat_type3_timeago {
    position: absolute;
    font-size: 9px;
    color: #b4b4b4;
    right: -51px;
    bottom: 3px
}

.chat_description .chat_type3_message_box {
    float: left;
    padding: 1px;
    width: 218px
}



.chat_description .chat_myself {
    overflow: hidden;
    margin-top: 20px
}

.chat_description .chat_myself_message {
    max-width: 200px;
    background-color: #0484f6;
    margin-right: 21px;
    word-break: break-all
}

.chat_description .chat_myself_emoticon,.chat_description .chat_myself_message {
    position: relative;
    float: right;
    text-align: left;
    padding: 9px 12px;
    border-radius: 10px 0 10px 10px
}

.chat_description .chat_myself_emoticon {
    max-width: 232px
}

.chat_description .chat_myself_image {
    position: relative;
    float: right;
    text-align: left;
    max-width: 232px;
    padding: 0 12px 0 2px;
    border-radius: 10px 0 10px 10px
}

.chat_description .chat_myself_message span {
    font-size: 13.5px;
    color: #fff
}

.chat_description .chat_myself_message:after {
    content: "";
    position: absolute;
    border-color: transparent transparent #0484f6!important;
    border: 10px solid #000;
    transform-origin: 0 0;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.chat_description .chat_myself_timeago {
    position: absolute;
    font-size: 11px;
    color: #b4b4b4;
    left: -70px;
    bottom: 3px;
    width: 60px;
    text-align: right
}

.chat_description .chat_myself_emoticon_image {
    width: 100px
}

.chat_description .chat_myself_image_file {
    width: 170px;
    border-radius: 5px;
    cursor: pointer
}

.chat_description .chat_myself_ack {
    position: absolute;
    color: #b4b4b4;
    left: -20px;
    bottom: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
    width: 10px;
    height: 10px;
    text-align: center
}

.chat_description .chat_myself_ack:after {
    content: "";
    display: block;
    width: 3px;
    height: 5px;
    border: solid #b4b4b4;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 3px
}

.chat_description .chat_myself_ack.active {
    color: #fff;
    border: 1px solid #0484f6;
    background-color: #0484f6
}

.chat_description .chat_myself_ack.active:after {
    content: "";
    display: block;
    width: 3px;
    height: 5px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 3px
}

.chat_description .chat_myself .chat_myself_box:after {
    display: block;
    clear: both;
    content: ""
}

.chat_description .chat_videoPlayIcon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24%!important;
    z-index: 99;
    opacity: .7;
    cursor: pointer
}

.chat_description .chat_videoPlayIcon:hover {
    opacity: 1
}

.chat_description .chat_timeago {
    margin-top: 20px
}

.chat_description .chat_timeago_box {
    width: 106px;
    height: 20px;
    border-radius: 9.8px;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0 auto
}

.chat_description .chat_timeago_box .chat_timeago_text {
    font-size: 11px;
    color: #687383
}

.chat_description .chat_item {
    overflow: hidden;
    margin-top: 20px
}

.chat_description .chat_item_image_box {
    float: left;
    margin: 0 11px
}

.chat_description .chat_item_message {
    position: relative;
    float: left;
    text-align: left;
    width: 222px;
    height: auto;
    background-color: #ebebeb;
    border: 1px solid #ebebeb
}

.chat_description .chat_item_message span {
    font-size: 13.5px;
    color: #000
}

.chat_description .chat_item_image_box .chat_item_image {
    width: 38px;
    height: 38px;
    border-radius: 50%
}

.chat_description .chat_item_timeago {
    position: absolute;
    font-size: 11px;
    color: #b4b4b4;
    right: -70px;
    bottom: 3px;
    width: 60px;
    text-align: left
}

.chat_description .chat_item_message_main {
    width: 222px;
    background-color: #fff;
    margin: 0 auto;
    cursor: pointer
}

.chat_description .chat_item_message_title {
    width: 180px;
    font-size: 14px;
    padding: 13px 27px 3px 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.chat_description .chat_item_message_price {
    font-size: 18px;
    color: #000;
    padding: 0 11px 8px
}

.chat_description .chat_item_message_link {
    width: 222px;
    background-color: #fff;
    color: #0484f6;
    text-align: center;
    font-size: 12px;
    margin: 1px auto 0;
    padding: 10px 0;
    cursor: pointer
}

.chat_description .image_outside {
    position: relative;
    padding-top: 100%;
    overflow: hidden
}

.chat_description .image_outside .image_centerbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    transform: translate(50%,50%)
}

.chat_description .image_outside .image_centerbox .chat_item_message_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10
}

.chat_description .chat_item_message_box {
    cursor: pointer
}

.chat_description .chat_order {
    overflow: hidden;
    margin-top: 20px
}

.chat_description .chat_order_image_box {
    float: left;
    margin: 0 18px 0 11px
}

.chat_description .chat_order_message {
    position: relative;
    float: left;
    text-align: left;
    width: 222px;
    background-color: #ebebeb
}

.chat_description .chat_order_message span {
    font-size: 13.5px;
    color: #000
}

.chat_description .chat_order_image_box .chat_order_image {
    width: 38px;
    height: 38px;
    border-radius: 50%
}

.chat_description .chat_order_timeago {
    position: absolute;
    font-size: 11px;
    color: #b4b4b4;
    right: -70px;
    bottom: 3px;
    width: 60px;
    text-align: left
}

.chat_description .chat_order_message_box {
    float: left;
    padding: 1px
}

.chat_description .chat_order_message_box:after {
    content: "";
    display: block;
    clear: both
}

.chat_description .chat_order_message_item {
    float: left;
    background-color: #fff;
    width: 160px;
    height: 60px
}

.chat_description .chat_order_message_item:after {
    content: "";
    display: block;
    clear: both
}

.chat_description .chat_order_message_item .chat_order_message_item_title {
    padding: 10px 0 6px 8px;
    font-size: 14px;
    color: #4e4e4c;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.chat_description .chat_order_message_item .chat_order_message_item_price {
    padding: 0 0 9px 8px;
    font-size: 16px;
    color: #000
}

.chat_description .chat_order_message_image {
    width: 60px;
    height: 60px;
    float: left
}

.chat_description .chat_order_message_main {
    width: 222px;
    background-color: #fff;
    margin: 0 auto
}

.chat_description .chat_order_message_title {
    width: 180px;
    font-size: 14px;
    padding: 13px 27px 6px 11px
}

.chat_description .chat_order_message_price {
    font-size: 18px;
    color: #000;
    padding: 0 11px 8px
}

.chat_description .chat_order_message_link {
    width: 220px;
    background-color: #fff;
    color: #0484f6;
    text-align: center;
    font-size: 12px;
    margin-top: 1px;
    padding: 10px 0;
    cursor: pointer;
    float: left
}

.chat_description .chat_order_message_link:after {
    content: "";
    display: block;
    clear: both
}

.chat_description .chat_order_message_box .chat_order_message_content1 {
    font-size: 14px;
    background-color: #fff;
    float: left;
    padding: 16px 12px;
    color: #000;
    margin-top: 1px;
    width: 196px
}

.chat_description .chat_order_message_box .chat_order_message_content1:after {
    content: "";
    display: block;
    clear: both
}

.chat_description .chat_order_message_box .chat_order_message_content2 {
    font-size: 13px;
    color: #4e4e4c;
    float: left;
    background-color: #fff;
    padding: 12px 35px 12px 12px;
    margin-top: 1px
}

.chat_description .chat_order_message_box .chat_order_message_content2:after {
    content: "";
    display: block;
    clear: both
}

.chat_description .chat_order_message_image_box {
    cursor: pointer
}

.chat_description .chat_type2 {
    overflow: hidden;
    margin-top: 20px
}

.chat_description .chat_type2_image_box {
    float: left;
    margin: 0 18px 0 11px
}

.chat_description .chat_type2_message {
    position: relative;
    float: left;
    text-align: left;
    width: 222px;
    background-color: #ebebeb;
    border: 1px solid #ebebeb
}

.chat_description .chat_type2_message span {
    font-size: 13.5px;
    color: #000
}

.chat_description .chat_type2_image_box .chat_type2_image {
    width: 38px;
    height: 38px;
    border-radius: 50%
}

.chat_description .chat_type2_timeago {
    position: absolute;
    font-size: 11px;
    color: #b4b4b4;
    right: -70px;
    bottom: 3px;
    width: 60px;
    text-align: left
}

.chat_description .chat_type2_message_main {
    width: 222px;
    background-color: #fff;
    margin: 0 auto;
    border-top: 1px solid #ebebeb
}

.chat_description .chat_type2_message_title {
    width: 180px;
    font-size: 14px;
    padding: 10px 27px 10px 11px
}

.chat_description .chat_type2_message_price {
    font-size: 18px;
    color: #000;
    padding: 0 11px 8px
}

.chat_description .chat_type2_message_link {
    width: 222px;
    background-color: #fff;
    color: #0484f6;
    text-align: center;
    font-size: 12px;
    margin: 1px auto 0;
    padding: 10px 0;
    cursor: pointer
}

.chat_description .image_wrapper {
    width: 100%;
    background-color: #000
}

.chat_description .chat_type2_message_image {
    width: 222px;
    display: block
}

.chat_input[contenteditable=true]:empty:after {
    content: attr(placeholder);
    color: #b4b4b4;
    cursor: text;
    font-size: 15px;
    display: block
}

.chat_input[contenteditable=true] {
    position: relative
}

.chat_footer {
    height: 40px;
    padding: 15px 15px 15px 21px
}

.chat_footer .chat_input {
    width: 570px;
    overflow: auto;
    height: 40px;
    outline: 0;
    line-height: 21px;
    color: #000;
    font-size: 15px;
    float: left
}

.chat_footer .chat_input span {
    color: #000!important;
    background-color: #fff!important
}

.chat_footer .chat_input div {
    color: #000
}

.chat_footer .chat_footer_area textarea {
    display: none
}

.chat_footer button {
    color: #fff;
    background-color: #0484f6;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    width: 80px
}

.chat_empty {
    margin-top: 200px
}

.chat_empty .chat_empty_image {
    text-align: center
}


.chat_description .chat_opponent {
        overflow: hidden;
        margin-top: 20px
    }

.chat_description .chat_opponent_message:after {
    content: "";
    position: absolute;
    border-color: transparent transparent #ebebeb!important;
    border: 10px solid #000;
    transform-origin: 0 0;
    left: 4px;
    top: -14px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg)
}

.chat_description .chat_opponent_image_box {
    float: left;
    margin: 0 9px 0 11px
}

.chat_description .chat_opponent_title {
    float: left;
    width: 85%;
    font-size: 12px;
    color: #4e4e4c;
    margin-bottom: 5px
}

.chat_description .chat_opponent_message {
    max-width: 200px;
    background-color: #ebebeb;
    padding: 9px 12px;
    margin-right: 10px;
    word-break: break-all
}

.chat_description .chat_opponent_emoticon,.chat_description .chat_opponent_message {
    position: relative;
    float: left;
    text-align: left;
    border-radius: 0 10px 10px 10px;
    margin-left: 10px
}

.chat_description .chat_opponent_emoticon {
    max-width: 232px;
    padding: 0
}

.chat_description .chat_opponent_image {
    position: relative;
    float: left;
    text-align: left;
    max-width: 232px;
    padding: 0;
    border-radius: 0 10px 10px 10px
}

.chat_description .chat_opponent_emoticon_image {
    width: 100px
}

.chat_description .chat_opponent_image_file {
    width: 170px;
    border-radius: 5px;
    cursor: pointer
}

.chat_description .chat_opponent_message span {
    font-size: 13.5px;
    color: #000
}

.chat_description .chat_opponent_image_box .chat_opponent_profile_image {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer
}

.chat_description .chat_opponent_timeago {
    position: absolute;
    font-size: 11px;
    color: #b4b4b4;
    right: -70px;
    bottom: 3px;
    width: 60px;
    text-align: left
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
}


.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    position: absolute;
    z-index: 1;
}
