@charset "UTF-8";

.barWrapper {
    margin-top: 64px;
    display: flex;
}
.newSearchWrapper {
    max-width: 1200px;
    margin: 0px auto;
}
.FilterBoxWrapper-active {
    border: 1.3px solid #BB2649 !important;
}
.FilterBoxWrapper  {
    cursor: pointer;
    display: flex;
    width: 202px;
    margin-right: 8px;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 28px;
    border-radius: 24px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 1.3px solid rgb(229, 232, 235);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px;
    background-color: rgb(255, 255, 255);
}
.FilterBoxTopic {
    display: flex;
}


.FilterBoxName {
    letter-spacing: -0.2px;
    font-weight: 600;
    font-size: 1rem;
/*     font-family: "Pretendard Variable"; */
    line-height: 135%;
    margin: auto 3px auto 0px;
    color: #BB2649;
}

.FilterBoxCount {
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 0.625rem;
    font-family: "Pretendard Variable";
    line-height: 100%;
    display: flex;
    height: 18px;
    margin-bottom: 6px;
    border-radius: 50%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 18px;
    background-color: #BB2649;
}

.FilterBoxArrow {
    margin-bottom: 1px;
}


.searchedListWrapper {
    margin: 55px 0px 300px;
}

.searchedListTopWrapper{
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 20px 21px 0px;
}

.CountListCount{
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 100%;
    color: rgb(25, 31, 40);
}


.Count {
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 100%;
    color: rgb(255, 97, 90);
}

.sortSortBox {
    display: flex;
    cursor: pointer;
}

.sortSort {
    letter-spacing: -0.6px;
    font-weight: 600;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    line-height: 120%;
    color: rgb(25, 31, 40);
    margin-right: 8px;
}

.sortSortImg {
    width: 15px;
    height: 15px;
}


.toggleWrapper {
    margin-top: 10px;
}


.tagListWrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.tagListFilterBox {
    flex-wrap: wrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.tagListReset {
    cursor: pointer;
    background: rgb(249, 250, 251);
    border-radius: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 13px 16px;
    margin: 0px 6px 6px 0px;
}
.tagListResetText {
    color: rgb(107, 118, 132);
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 100%;
}
.tagListResetImg {
    margin-left: 9px;
    width: 16px;
    height: 18px;
}
.tagListTag {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(245, 249, 254);
    margin: 0px 6px 6px 0px;
    border-radius: 40px;
    padding: 13px 16px;
}
.tagListName {
    color: rgb(38, 139, 255);
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 100%;
}
.tagListRemove {
    margin-left: 8px;
    width: 12px;
    height: 12px;
}


.SortListWrapper {
    position: absolute;
    top: 29px;
    right: 0px;
    z-index: 1;
    padding: 8px 1px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(25, 31, 40);
    display: none;
}
.SortListList {
    padding: 9px 17px;
    cursor: pointer;
    color: rgb(25, 31, 40);
    background: rgb(255, 255, 255);
    letter-spacing: -0.4px;
    font-weight: 500;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    line-height: 160%;
}
.itemListWrapper {
    display: inline-block;
    width: 1300px;
    /* flex-wrap: wrap; */
    /* width: 1200px; */
    /* -webkit-box-pack: start; */
    /* justify-content: flex-start; */
}




/*	===========================================================
	아이템 목록

	===========================================================
*/  


.itemWrapper .item{
	display: inline-block;
	width: 235px;
	margin-right: 10px;
}

.itemListWrapper .itemWrapper {
    display: block;
    width: 100%;
    /* margin: 0px 20px 30px 0px; */
    height: 478px;
    margin: 0 auto;
}

/* position: relative; 주석 해제 06.01 */
.itemWrapper .itemThumbnailBox {
    position: relative;
    display: block;
    width: 240px;
    /* height: 500px; */
    float: left;
    margin-bottom: 10px;
}

.itemWrapper .itemThumbnail {
    object-fit: cover;
    width: 224px;
    height: 300px;
    cursor: pointer;
    border-radius: 10.8606px;
    margin-bottom: 15px;
}

.itemWrapper .wishWishIcon {
    /* position: absolute; */
    /* z-index: 1; */
    width: 28px;
    height: 25px;
    /* right: 7px; */
    /* bottom: 7px; */
    cursor: pointer;
    margin-top: -43px;
    margin-left: 4px;
}

.itemWrapper .itemCategory {
    /* margin-top: 10px; */
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    color: rgb(255, 255, 255);
    max-width: 194px;
    width: fit-content;
    line-height: 14px;
    padding: 6px 8px;
    margin: 12px 0px 4px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgb(44, 44, 44);
}
.itemWrapper .itemText {
    letter-spacing: -0.2px;
    font-weight: 700;
    font-size: 1.125rem;
    font-family: "Pretendard Variable";
    color: rgb(51, 61, 75);
    margin-bottom: 2px;
    line-height: 135%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;
}

.subject {
	cursor: pointer;
}

.itemWrapper .itemPrice {
    letter-spacing: -0.2px;
    font-weight: 700;
    font-size: 1.125rem;
    font-family: "Pretendard Variable";
    color: rgb(51, 61, 75);
    margin-bottom: 2px;
    line-height: 133%;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.itemWrapper .itemName {
    letter-spacing: -0.4px;
    font-weight: 400;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    color: rgb(51, 61, 75);
    margin-bottom: 0px;
    line-height: 133%;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.itemWrapper .itemTagBox {
    display: flex;
    /* margin-top: 8px; */
    line-height: 20px;
    flex-wrap: wrap;
    height: 60px;
}

.itemWrapper .itemSizeTag {
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
    color: rgb(44, 44, 44);
    margin: auto 4px auto 0px;
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid rgb(202, 202, 202);
}

.itemWrapper .itemTimeTag {
    letter-spacing: -0.4px;
    font-weight: 700;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 145%;
    color: rgb(107, 118, 132);
    margin-top: 0px;
    margin-right: 13px;
}


/* sc-component-id: rightSection__Wrapper-sc-1hzq192-0 */
 .dwUVsv {
     width: 50%;
}
/* sc-component-id: newDetail__Wrapper-sc-1fgyocb-0 */
 .eJTfOU {
     margin: 60px auto 120px;
     margin-top: 62px;
     width: 100%;
}
/* sc-component-id: newDetail__Main-sc-1fgyocb-1 */
 .cbridG {
     z-index: 3;
     max-width: 1200px;
     margin: 0 auto 104px;
     position: relative;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .bCagbv {
     border-top: 1px solid rgb(229, 232, 235);
     margin-top: 30px;
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     align-items: center;
     padding: 18px 10px 0px;
}
 .iwoBcJ {
     position: sticky;
     width: 558px;
     height: 800px;
     top: 130px !important;
}
 .kYjTOu {
     width: 70px;
     height: 70px;
     border-radius: 50%;
}
 .sbhKT {
     letter-spacing: -0.2px;
     font-weight: 600;
     font-size: 0.938rem;
     font-family: "Pretendard Variable";
     line-height: 134%;
}
 .foIEcf {
     letter-spacing: -0.4px;
     font-weight: 400;
     font-size: 0.875rem;
     font-family: "Pretendard Variable";
     line-height: 145%;
}
 .jIuFeg {
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     margin-top: 3px;
}
 .dkpZFZ {
     letter-spacing: 0px;
     font-weight: 700;
     font-size: 0.875rem;
     font-family: "Pretendard Variable";
     line-height: 100%;
}
 .rhWka {
     width: 66.71px;
     height: 34px;
     cursor: pointer;
}
 .dgPBCr {
     display: flex;
     align-items: center;
     justify-content: flex-end;
}
 .dgPBCr img {
     margin-left: 10px;
     margin-right: 5px;
    /* ������ ���� ���� */
}
 .cbridG {
     z-index: 3;
     max-width: 1200px;
     margin: 0px auto 104px;
     position: relative;
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
}


.dEBCMS {
    margin-top: 10px;
}

.emQQCU {
    background: rgb(249, 250, 251);
    border: 1.2px solid rgb(229, 232, 235);
    border-radius: 10px;
}

.kGtMUL {
    padding: 18px 20px 0px;
}

.iueNqr {
    height: 32px;
    border-bottom: 1px solid rgb(230, 235, 239);
    display: flex;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.gXlyjT {
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.eYZfEN {
    display: flex;
}

.bpPgNC {
    display: flex;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.hEjnBN {
    width: 12px;
    height: 12px;
    margin: 1.3px 1px 0px;
}

.dvVQGP {
    margin-left: 3px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.cmyJpu {
    padding-top: 14px;
    display: grid;
    grid-auto-rows: 34px;
    grid-template-columns: auto auto auto auto auto auto;
}

.ListSelected {
    cursor: pointer;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
    color: rgb(0, 114, 244);
}

.ListNonSelected {
    cursor: pointer;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
    color: rgb(78, 89, 104);
}


.marketListSearch {
    display: inline-block;
    width: 200px !important;
    height: 20px;
    /* margin: auto 0px; */
    cursor: pointer;
    padding: 10px 15px;
    background: rgb(242, 245, 247);
    border-radius: 62px;
    /* margin-top: 21px; */
    /* float: right; */
    margin-top: 21px;
    margin-left: 25px;
}

.searchSearch .tag {
    height: 22px;
    margin-top: -50px !important;
    margin-left: 26px !important;
    width: 155px !important;
}


.fEjcIX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 103px;
    background: rgb(249, 250, 251);
    border: 1.2px solid rgb(229, 232, 235);
    border-radius: 10px;
}

.fEjcIX input {
    padding: 0px;
    width: 188px;
    height: 44px;
    border-radius: 8px;
    text-align: center;
    letter-spacing: -0.2px;
    font-weight: 700;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    line-height: 134%;
}

input[type=date], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], textarea {
    -webkit-appearance: none;
    padding: 8px 0 8px 16px;
    font-size: 14px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    border: 1px solid #e8ebed;
}

.cRHAEh {
    border: 1px solid rgb(25, 31, 40);
    margin-left: 20px !important;
}

.cOhRDO {
    margin-left: 8px;
    letter-spacing: -0.2px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Pretendard Variable";
    line-height: 135%;
}

.fEjcIX input {
    padding: 0px !important;
    width: 188px;
    height: 44px;
    border-radius: 8px !important;
    text-align: center;
    letter-spacing: -0.2px;
    font-weight: 700;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    line-height: 134%;
}

.ecxgoB {
    margin-left: 8px;
    width: 65px;
    letter-spacing: -0.2px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Pretendard Variable";
    line-height: 135%;
}

.ezrKUu {
    width: 164px;
    height: 44px;
    background: rgb(176, 184, 193);
    border-radius: 8px;
    margin-left: 10px;
    letter-spacing: -0.2px;
    font-weight: 700;
    font-size: 0.937rem;
    font-family: "Pretendard Variable";
    line-height: 134%;
    color: rgb(255, 255, 255);
    text-align: center !important;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    outline: 0;
    padding: 0;
}

.itemWrapper .itemTextBox{

    display: inline-block;
    width: 235px;
    height: 200px;
    
}
/* 좋아요 아이콘 06.01*/
.WishWishImg {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.FilterBoxWrapper > div > div > label {
	cursor : pointer;
}


.chall_more {
    border: 1px solid #bdbdbd;
    padding: 5px;
    text-align: center;
    color: #000;
    cursor: pointer;
    margin-top: 20px;
}


.FilterMore {
    cursor: pointer;
    display: flex;
    width: 1200px;
    margin-right: 8px;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 28px;
    border-radius: 24px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 1.3px solid rgb(229, 232, 235);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px;
    background-color: rgb(255, 255, 255);
}


.FilterBoxMore{
    margin: auto 3px auto 550px !important;
}


.status {
    position: absolute;
    left: 5px;
    top: 8px;
    padding: 4px 7px;
    border-radius: 6px;
    border: 1px solid #8f8f8f8f;
    background: #616161;
    color: #fff!important;
    box-shadow: 2px 2px 0px #0000007d;
}


#toTop {
   position: fixed;   /* 포지션 고정 */
   left: 200px;
   bottom: 100px;     /* 밑에서 100px */
   display: none;     /* 보여지지 없음 - 기본적으로  안보여지게 */
   z-index: 9999;     /* 포지션을 먼저 지정후 z-좌표(레이어) : 9999입니다. */
   background-color: darkgray;
}

