@charset "UTF-8";
/****************************************************************************************************************************************
	회원
****************************************************************************************************************************************/
/*로그인*/
.list-tabs:after {
	display: block;
	content: '';
	clear: both;
}

.list-tabs a {
	float: left;
	font-size: 20px;
	opacity: 0.5;
	height: 58px;
	line-height: 55px;
	position: relative;
	margin-right: 25px;
}

.list-tabs a:before {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	bottom: -1px;
	height: 3px;
	background: #BB2649;
	opacity: 0;
	transition: all 0.3s ease;
}

.list-tabs a:hover, .list-tabs a.active {
	opacity: 1;
	font-weight: 600;
}

.list-tabs a:hover:before, .list-tabs a.active:before {
	width: 100%;
	opacity: 1;
}

.member-desc1 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 40px;
}

.member-desc1 p {
	padding-top: 20px;
}

.member {
	max-width: 100%;
	padding: 0 20px;
	padding-top: 55px;
	margin: 0 auto;
}

.join-success {
	max-width: 100% !important;
	/* padding: 0 20px; */
	/* padding-top: 20px; */
	/* margin: 0 auto !important; */
}

.member .list-tabs {
	margin-bottom: 40px;
}

.member .list-tabs a {
	height: 40px;
	line-height: 38px;
	color: #464646;
}

.h2-member {
	margin-bottom: 35px;
}

.h2-member strong {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: 40px;
	line-height: 38px;
	font-size: 20px;
}

.h2-member strong:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3px;
	background: #673bd4;
}

.member .h3-member {
	font-size: 12px;
	color: #8f9bb3;
	font-weight: 600;
	text-align: left;
	margin-bottom: 5px;
}

.member .inp-member {
	width: 100%;
	height: 48px;
	font-size: 16px;
	color: #000;
	border: 0;
	border-bottom: 1px solid #d8dbe1;
	background: none;
}

.member .etc {
	overflow: hidden;
	margin-bottom: 35px;
}

.member .etc label {
	float: left;
}

.member .etc .btn-hp {
	float: right;
	padding-left: 25px;
	line-height: 21px;
	font-size: 14px;
	color: #292929;
	background: url(../img/common/ico_hp.png) no-repeat 0 50%;
	margin-top: 2px;
}

.member .find {
	text-align: right;
	margin: 10px 0 15px;
}

.member .find a {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #909090;
	line-height: 18px;
}

.member .find a+a {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #909090;
}

.member .orther-login .tit {
	max-width: 260px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.member .orther-login .tit span {
	position: relative;
	display: block;
}

.member .orther-login .tit span strong {
	display: inline-block;
	vertical-align: top;
	padding: 0 12px;
	background: #fff;
	font-size: 12px;
	color: #8f9bb3;
	position: relative;
	z-index: 2;
}

.member .orther-login .tit span:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	height: 1px;
	background: #e4e9f2;
}

.member .orther-login .btns {
	text-align: center;
	padding: 12px 0 30px;
}

.member .orther-login .btns a {
	margin: 0 8px;
}

.member .orther-login .btns a img {
	width: 52px;
	display: inline;
}

.member .orther-login .desc {
	text-align: center;
	font-size: 12px;
	line-height: 1.4;
	color: #909090;
	word-break: keep-all;
}

.member .orther-login .desc span {
	color: #673bd4;
}

.member .check-desc {
	text-align: center;
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 1.5;
	color: #909090;
	word-break: keep-all;
}

.member .check-desc p {
	padding-left: 14px;
	text-indent: -14px;
}

.member .check-desc p+p {
	margin-top: 3px;
}
/*로그인*/
.member .end {
	padding: 40px 0 90px;
	text-align: center;
	/* width: 960px; */
	margin: 0 auto;
}

.member .end .t1 {
	padding-top: 133px;
	background: url(../images/member/joinSucess.png) no-repeat 50% -80px;
	font-size: 20px;
	line-height: 1.5;
}

.member .end .t2 {
	font-size: 14px;
	line-height: 1.4;
	color: #909090;
	margin: 15px 0 45px;
}

.member .end .btns {
	width: 100%;
}

.member .end .btns a {
	width: calc(40% - 20px);
	margin: 0 auto;
	background-color: #BB2649;
	height: 35px;
	border-radius: 10px;
	color: #fff;
	font-weight: 300;
	line-height: 35px;
	padding-left: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.member .end .btns .btn-type-main {
	padding: 5px 40px;
}

.member .end .btns .btn-typep-login {
	padding: 5px 50px;
}

.hobby input {
	margin: 5px 5px;
}

.member .orther-login .btns {
	text-align: center;
	padding: 12px 0 30px;
}

.member .orther-login .btns a {
	margin: 0 8px;
}

.login-social a.nv {
	background-image: url("../images/member/ico_naver.png");
	background-size: 50px 50px;
}

.login-social a.kt {
	background-image: url("../images/member/ico_kakao.png");
	background-size: 50px;
}

.login-social a.fb {
	background-image: url("../images/member/btn-social-fb.png");
}
/*체크박스*/
.checkbox {
	position: absolute;
	left: -9999px;
}

.checkbox+em {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	border: 2px solid #ddd;
	transition: all 0.3s ease;
	position: relative;
}

.checkbox+em:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/member/checkbox.png) no-repeat 50% 50%;
	transform: scale(0.2);
	transition: all 0.3s ease;
	opacity: 0;
}

.checkbox+em+span {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #292929;
	margin-left: 6px;
}

.checkbox:checked+em {
	border-color: #673bd4;
}

.checkbox:checked+em:before {
	transform: scale(1);
	opacity: 1;
}

/*로그인*/
.member-detail {
	display: block;
	margin: 17px 0;
	/* height: 40px; */
	/* width: 100%; */
	vertical-align: top;
	width: 438px;
	position: relative;
}

.member-detail label.label-input {
	width: 490px;
	height: 40px;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #666;
	display: block;
	line-height: 38px;
	padding-left: 20px;
	position: relative;
}

.member-detail label.label-input span {
	position: absolute;
	left: 20px;
	top: 0;
}

.member-detail label.label-input span.line2 {
	font-size: 12px;
	color: #666;
	line-height: 14px;
	padding: 5px 0 0 0;
	text-align: right;
}

.member-detail label.label-input2 {
	width: 360px;
	height: 40px;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #666;
	display: inline-block;
	line-height: 38px;
	padding-left: 20px;
	position: relative;
}

.member-detail label.label-input2 span {
	position: absolute;
	left: 20px;
	top: 0;
}

.member-detail input[type=text], .member-detail input[type=password] {
	width: 251px;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	background-color: #f9f9f9;
	border: 0;
	border-left: 1px solid #b7b7b7;
	margin-left: 122px;
	padding-left: 14px;
	font-size: 14px;
	color: #3a3a3a;
	margin-top: -5px;
}

.member-detail input[type=text]::-webkit-input-placeholder,
	.member-detail input[type=password]::-webkit-input-placeholder {
	color: #ccc;
}

.member-detail input[type=text]:-ms-input-placeholder, .member-detail input[type=password]:-ms-input-placeholder
	{
	color: #ccc;
}

.member-detail input[type=text]::-moz-placeholder, .member-detail input[type=password]::-moz-placeholder
	{
	color: #ccc;
}

.member-detail input[type=text]:-moz-placeholder, .member-detail input[type=password]:-moz-placeholder
	{
	color: #ccc;
}

.member-detail input[type=text].input-short {
	width: 186px;
}

.wrap-remember {
	padding: 0 0 15px 9px;
	display: block;
}

.wrap-remember .input-remember {
	font-size: 13px;
}

.wrap-join-box .form-join {
	color: #fff;
}

/*padding-bottom 따로 지정해준값*/
.mem-login {
	width: 490px !important;
	/* margin: 0 auto; */
	padding-bottom: 100px;
}

.btn-type0 {
	display: inline-block;
	width: 100%;
	height: 48px;
	line-height: 46px;
	border-radius: 4px;
	text-align: center;
	background: #673bd4;
	font-size: 16px;
	color: #fff;
	border: none;
}
/****************************************************************************************************************************************
	회원
****************************************************************************************************************************************/

.section-member {
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #ffffff;
	padding: 68px 0 120px;
}

.section-member>.title {
	width: 115px;
	height: 40px;
	border-bottom: 2px solid #979797;
	font-size: 25px;
	color: #666;
	margin: 0 auto;
	text-align: center;
}

.section-member>.title-membership, .section-member>.title-pass {
	width: 147px;
	height: 40px;
	border-bottom: 2px solid #979797;
	font-size: 25px;
	color: #666;
	margin: 0 auto;
	text-align: center;
}

.section-member .wrap-member-box {
	width: 680px;
	background-color: #fff;
	margin: 60px auto 0;
	padding: 80px 170px;
}

.section-member .wrap-member-box.wrap-pass-box {
	padding-top: 60px;
}

.section-member .wrap-member-box.wrap-membership-box {
	padding-top: 60px;
}

.section-member .wrap-member-box.wrap-membership-box .title-membership {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-top: 1px;
	line-height: 30px;
	padding-left: 20px;
	border-bottom: 1px solid #7d7d7d;
	padding-bottom: 12px;
}

.section-member .wrap-member-box.wrap-membership-box .wrap-inside {
	margin: 40px 0 0 0;
	border-bottom: 1px solid #ececec;
}

.section-member .wrap-member-box.wrap-membership-box .title-quit {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-top: 54px;
	line-height: 30px;
	padding-left: 20px;
	border-bottom: 1px solid #7d7d7d;
	padding-bottom: 12px;
}

.section-member .wrap-member-box .join-indicator {
	display: block;
	width: 714px;
	height: 60px;
	overflow: hidden;
	background: url("/images/member/bg-join-indicator.png") center top
		no-repeat;
	position: relative;
	left: -17px;
}

.section-member .wrap-member-box .join-indicator li {
	float: left;
	display: block;
	height: 60px;
	text-align: center;
	font-size: 16px;
	color: #7d7d7d;
	line-height: 60px;
	position: relative;
}

.section-member .wrap-member-box .join-indicator li:nth-child(1) {
	width: 254px;
}

.section-member .wrap-member-box .join-indicator li:nth-child(2) {
	width: 207px;
}

.section-member .wrap-member-box .join-indicator li:nth-child(3) {
	width: 253px;
}

.section-member .wrap-member-box .join-indicator li.selected:before {
	content: "";
	position: absolute;
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: #000;
	left: 50%;
	top: 10px;
}

.section-member .wrap-member-box .wrap-inside {
	margin: 40px 0 0 0;
	border: 1px solid #ececec;
	border-width: 1px 0;
}

.section-member .wrap-member-box .wrap-inside p {
	display: block;
	font-size: 13px;
	color: #4a4a4a;
	text-align: center;
	padding: 120px 0;
}

.section-member .wrap-member-box .wrap-inside.no-border {
	border: none;
}

.section-member .wrap-member-box.wrap-membership-box .wrap-inside {
	margin: 0;
	border-width: 0 0 1px 0;
}

.section-member .wrap-member-box .join-social-desc, .section-member .wrap-member-box .join-email-desc
	{
	display: inline-block;
	width: 194px;
	height: 40px;
	box-sizing: border-box;
	border-right: 2px solid #ececec;
	margin-left: 61px;
	margin-top: 41px;
	margin-bottom: 41px;
	vertical-align: top;
	position: relative;
}

.section-member .wrap-member-box .join-social-desc span, .section-member .wrap-member-box .join-email-desc span
	{
	display: block;
	box-sizing: border-box;
	border-left: 4px solid #ccc;
	height: 20px;
	line-height: 18px;
	font-size: 16px;
	color: #333;
	margin-top: 10px;
	padding-left: 21px;
}

.section-member .wrap-member-box .join-social-desc:after {
	content: "";
	display: block;
	position: absolute;
	background-color: #ececec;
	width: 680px;
	height: 1px;
	left: -61px;
	bottom: -50px;
}

.section-member .wrap-member-box .join-social {
	display: inline-block;
	margin-top: 41px;
	height: 40px;
	vertical-align: top;
}

.section-member .wrap-member-box .join-social a {
	width: 96px;
	height: 40px;
	overflow: hidden;
	text-indent: -10000em;
	display: inline-block;
	background-position: center center;
	margin-left: 11px;
}

.section-member .wrap-member-box .join-social a.nv {
	background-image: url("/images/member/btn-social-nv.png");
}

.section-member .wrap-member-box .join-social a.kt {
	background-image: url("/images/member/btn-social-kt.png");
}

.section-member .wrap-member-box .join-social a.fb {
	background-image: url("/images/member/btn-social-fb.png");
}

.section-member .wrap-member-box .join-social #naver_id_login {
	display: inline-block;
}

.section-member .wrap-member-box .join-email {
	display: inline-block;
	margin-top: 41px;
	height: 40px;
	vertical-align: top;
}

.section-member .wrap-member-box .join-email label {
	width: 380px;
	height: 40px;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #666;
	display: block;
	line-height: 40px;
	padding-left: 20px;
	margin-left: 11px;
}

.section-member .wrap-member-box .join-email input {
	width: 206px;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	background-color: #f9f9f9;
	border: 0;
	border-left: 1px solid #b7b7b7;
	margin-left: 35px;
	padding-left: 14px;
	font-size: 14px;
	color: #3a3a3a;
	margin-top: -5px;
}

.section-member .wrap-member-box .join-email input::-webkit-input-placeholder
	{
	color: #ccc;
}

.section-member .wrap-member-box .join-email input:-ms-input-placeholder
	{
	color: #ccc;
}

.section-member .wrap-member-box .join-email input::-moz-placeholder {
	color: #ccc;
}

.section-member .wrap-member-box .join-email input:-moz-placeholder {
	color: #ccc;
}

.section-member .wrap-member-box .join-detail {
	display: inline-block;
	margin: 20px 0;
	height: 40px;
	vertical-align: top;
}

.section-member .wrap-member-box .join-detail.long {
	height: 100px;
}

.section-member .wrap-member-box .join-detail label.label-input {
	width: 425px;
	height: 40px;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #666;
	display: block;
	line-height: 38px;
	padding-left: 20px;
	margin-left: 128px;
	position: relative;
}

.section-member .wrap-member-box .join-detail label.label-input span {
	position: absolute;
	left: 20px;
	top: 0;
}

.section-member .wrap-member-box .join-detail .btnsub {
	display: inline-block;
	width: 90px;
	height: 40px;
	background-color: #efefef;
	border: 1px solid #b7b7b7;
	box-sizing: border-box;
	line-height: 25px;
	font-size: 14px;
	color: #666;
	text-align: center;
}

.section-member .wrap-member-box .join-detail .btnsms {
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	line-height: 36px;
	width: 79px;
}


.section-member .wrap-member-box .join-detail .descsms {
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #fff;
	width: 100px;
}

.section-member .wrap-member-box .join-detail input[type=text],
	.section-member .wrap-member-box .join-detail input[type=password] {
	width: 251px;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	background-color: #f9f9f9;
	border: 0;
	border-left: 1px solid #b7b7b7;
	margin-left: 122px;
	padding-left: 14px;
	font-size: 14px;
	color: #3a3a3a;
	margin-top: -5px;
}

.section-member .wrap-member-box .join-detail input[type=text]::-webkit-input-placeholder,
	.section-member .wrap-member-box .join-detail input[type=password]::-webkit-input-placeholder
	{
	color: #ccc;
}

.section-member .wrap-member-box .join-detail input[type=text]:-ms-input-placeholder,
	.section-member .wrap-member-box .join-detail input[type=password]:-ms-input-placeholder
	{
	color: #ccc;
}

.section-member .wrap-member-box .join-detail input[type=text]::-moz-placeholder,
	.section-member .wrap-member-box .join-detail input[type=password]::-moz-placeholder
	{
	color: #ccc;
}

.section-member .wrap-member-box .join-detail input[type=text]:-moz-placeholder,
	.section-member .wrap-member-box .join-detail input[type=password]:-moz-placeholder
	{
	color: #ccc;
}

.section-member .wrap-member-box .join-detail input[type=text]:focus+span:after,
	.section-member .wrap-member-box .join-detail input[type=password]:focus+span:after
	{
	content: "";
	display: block;
	background: url("/images/member/icon-join-focus.png") center center
		no-repeat;
	width: 31px;
	height: 21px;
	position: absolute;
	left: -78px;
	top: 7px;
}

.section-member .wrap-member-box .join-detail:after {
	content: "";
	display: block;
	position: relative;
	background-color: #ececec;
	width: 680px;
	height: 1px;
	bottom: -20px;
}

.section-member .wrap-member-box .join-detail:last-child:after {
	display: none;
}

.section-member .wrap-member-box .join-detail div.label-input {
	width: 405px;
	height: 40px;
	font-size: 14px;
	color: #666;
	display: block;
	line-height: 40px;
	padding-left: 20px;
	margin-left: 128px;
	position: relative;
}

.section-member .wrap-member-box .join-detail div.label-input.label-input2
	{
	width: 425px;
	padding-left: 0;
}

.section-member .wrap-member-box .join-detail div.label-input .title {
	position: absolute;
	left: 20px;
	top: 0;
}

.section-member .wrap-member-box .join-detail div.label-input .desc {
	margin-left: 122px;
	border-left: 1px solid #b7b7b7;
	padding-left: 14px;
	color: #333;
}

.section-member .wrap-member-box .join-detail div.label-input .desc.not
	{
	color: #cc1221;
}

.section-member .wrap-member-box .join-detail div.label-input .social-nv
	{
	background: url("/images/member/icon-nv.png") left center no-repeat;
	display: block;
	height: 40px;
	padding-left: 85px;
}

.section-member .wrap-member-box .join-detail div.label-input .social-kt
	{
	background: url("/images/member/icon-kt.png") left center no-repeat;
	display: block;
	height: 40px;
	padding-left: 85px;
}

.section-member .wrap-member-box .join-detail div.label-input .social-fb
	{
	background: url("/images/member/icon-fb.png") left center no-repeat;
	display: block;
	height: 40px;
	padding-left: 85px;
}

.section-member .wrap-member-box .join-detail div.label-input .btn-auth
	{
	width: 110px;
	height: 35px;
	display: block;
	position: absolute;
	right: 0;
	top: 2px;
	background-color: #cc1221;
	color: #fff;
	font-size: 15px;
	line-height: 35px;
	text-align: center;
}

.section-member .wrap-member-box .join-detail div.label-input .btn-change
	{
	width: 110px;
	height: 35px;
	display: block;
	position: absolute;
	right: 0;
	top: 2px;
	background-color: #673bd4;
	color: #fff;
	font-size: 15px;
	line-height: 35px;
	text-align: center;
}

.section-member .wrap-member-box .join-detail div.label-input .btn-delete
	{
	width: 40px;
	height: 23px;
	display: block;
	position: absolute;
	right: 0;
	top: 9px;
	background-color: #f3f3f3;
	color: #555;
	font-size: 11px;
	line-height: 23px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #b7b7b7;
}

.section-member .wrap-member-box .join-detail div.label-input .btn-connect
	{
	width: 80px;
	height: 27px;
	display: block;
	position: absolute;
	right: 0;
	top: 6px;
	background-color: #cc1221;
	color: #fff;
	font-size: 17px;
	line-height: 27px;
	text-align: center;
	border-radius: 2px;
}

.section-member .wrap-member-box .quit-desc {
	display: block;
	font-size: 14px;
	color: #7d7d7d;
	padding: 23px 84px 73px 106px;
	background: url("/images/member/icon-quit-desc.png") 84px 29px no-repeat;
	display: block;
	line-height: 1.86em;
	height: 16px;
}

.section-member .wrap-member-box .btn-quit {
	background-color: #673bd4;
	display: block;
	width: 300px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	font-size: 17px;
	text-align: center;
	color: #fff;
	border-radius: 18px;
}

.section-member .wrap-member-box .agreement {
	position: relative;
	padding-left: 28px;
	font-size: 14px;
	color: #666;
	margin-left: 128px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
}

.section-member .wrap-member-box .agreement input[type=checkbox]:not(:checked),
	.section-member .wrap-member-box .agreement input[type=checkbox]:checked
	{
	position: absolute;
	left: -100000em;
}

.section-member .wrap-member-box .agreement input[type=checkbox]+label:before
	{
	content: '';
	position: absolute;
	left: 0;
	top: 11px;
	width: 18px;
	height: 18px;
	display: block;
	background: url("/images/member/checkbox-unchecked.png") center center
		no-repeat;
}

.section-member .wrap-member-box .agreement input[type=checkbox]+label:after
	{
	content: '';
	position: absolute;
	left: 0;
	top: 11px;
	width: 18px;
	height: 18px;
	display: block;
	background: url("/images/member/checkbox-checked.png") center center
		no-repeat;
}

.section-member .wrap-member-box .agreement input[type=checkbox]:not(:checked)+label:after
	{
	opacity: 0;
}

.section-member .wrap-member-box .agreement input[type=checkbox]:checked+label:after
	{
	opacity: 1;
}

.section-member .wrap-member-box .agreement a {
	color: #009aff;
	text-decoration: underline;
}

.section-member .wrap-member-box .sub {
	border-top: 1px dotted #ccc;
	margin-left: 85px;
	width: 595px;
	margin-top: 11px;
	padding-top: 11px;
}

.section-member .wrap-member-box .sub span {
	position: relative;
	padding-left: 28px;
	font-size: 14px;
	color: #666;
	margin-left: 20px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
}

.section-member .wrap-member-box .sub span:first-child {
	margin-left: 85px;
}

.section-member .wrap-member-box .sub span input[type=checkbox]:not(:checked),
	.section-member .wrap-member-box .sub span input[type=checkbox]:checked
	{
	position: absolute;
	left: -100000em;
}

.section-member .wrap-member-box .sub span input[type=checkbox]+label:before
	{
	content: '';
	position: absolute;
	left: 0;
	top: 11px;
	width: 18px;
	height: 18px;
	display: block;
	background: url("/images/member/checkbox-unchecked.png") center center
		no-repeat;
}

.section-member .wrap-member-box .sub span input[type=checkbox]+label:after
	{
	content: '';
	position: absolute;
	left: 0;
	top: 11px;
	width: 18px;
	height: 18px;
	display: block;
	background: url("/images/member/checkbox-checked.png") center center
		no-repeat;
}

.section-member .wrap-member-box .sub span input[type=checkbox]:not(:checked)+label:after
	{
	opacity: 0;
}

.section-member .wrap-member-box .sub span input[type=checkbox]:checked+label:after
	{
	opacity: 1;
}

.section-member .wrap-member-box .pass-desc {
	font-size: 14px;
	color: #7d7d7d;
	padding-left: 125px;
	background: url("/images/customer/icon-faq-desc.png") 103px top
		no-repeat;
	display: block;
	line-height: 16px;
	height: 16px;
	font-weight: bold;
}

.section-member .wrap-member-box .pass-desc2 {
	padding-left: 125px;
	padding-top: 6px;
	font-size: 14px;
	color: #7d7d7d;
	line-height: 1.86em;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}

.section-member .wrap-member-box .btn-pass-box {
	margin: 40px auto 20px;
	text-align: center;
}

.section-member .wrap-member-box .btn-pass-box .btn-change-now {
	border: 1px solid #cc1221;
	background-color: #cc1221;
	font-size: 17px;
	display: inline-block;
	width: 160px;
	height: 35px;
	box-sizing: border-box;
	color: #fff;
	line-height: 35px;
	text-align: center;
}

.section-member .wrap-member-box .btn-pass-box .btn-change-later {
	border: 1px solid #b7b7b7;
	background-color: #efefef;
	font-size: 17px;
	display: inline-block;
	width: 160px;
	height: 35px;
	box-sizing: border-box;
	color: #666;
	line-height: 35px;
	text-align: center;
	margin-left: 4px;
}

.section-member .wrap-member-box .btn-pass-box .btn-change-later:hover {
	border: 1px solid #000;
	color: #000;
}

.section-member .wrap-member-box .btn-join {
	display: block;
	width: 300px;
	height: 35px;
	line-height: 35px;
	background-color: #cc1221;
	font-size: 17px;
	color: #fff;
	margin: 50px auto 0;
	text-align: center;
}

.section-member .wrap-member-box .btn-confirm {
	display: block;
	width: 300px;
	height: 35px;
	line-height: 35px;
	background-color: #BB2649;
	font-size: 17px;
	color: #fff;
	margin: 50px auto 60px;
	text-align: center;
	border-radius: 18px;
}

/* 마이페이지new! */

/* .cCRgus { */
/*     display: none; */
/* } */

.memberInfoInfoArea {
    width: 230px;
}
.userDataWrapper {
    text-align: center;
}

.userDataImgBox {
    position: relative;
}

.userDataProfileImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.userDataNickName {
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Pretendard Variable";
    margin-top: 22px;
    color: rgb(33, 39, 42);
}
.memberInfoProductCountBox {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 43px;
}

.memberInfoText {
    font-size: 15px;
}

.memberInfoCount {
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}
.memberInfoReviewBox {
    margin-top: 5px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.memberInfoText {
    font-size: 15px;
}
.memberInfoRating {
    cursor: pointer;
    display: flex;
}

.memberInfoRating {
    cursor: pointer;
    display: flex;
}
.memberInfoCount {
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.memberInfoSettingMyData {
    font-weight: 700;
    font-size: 16px;
}

.listWrapper {
    position: relative;
    margin-bottom: 50px;
}
.tabPcBox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
}
.tabFilterTab {
    display: flex;
}
.DropBoxWrapper {
    box-sizing: border-box;
    margin-right: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.375rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 224, 229);
}
.DropBoxBox {
    padding: 0px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.CategoryText {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}


.SellStatusText {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}
.PriceText {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}


.SearchWrapper {
    position: relative;
    width: 9.375rem;
    height: 2.375rem !important;
}



.cCRgus {
    width: 990px;
    margin: 20px auto 24px;
    display: flex;
    color: rgb(102, 102, 102);
    font-size: 12px;
}

.ONeuG {
    color: rgb(102, 102, 102);
}

.jkbuHI {
    margin: 0px 5px;
}

.flUCRQ {
    color: rgb(102, 102, 102);
}

.profileContainer {
    position: relative;
    max-width: 1060px;
    margin: 50px auto 20px;
    display: grid;
    grid-template-columns: 31% 69%;
}

.fNqBxy {
    padding-bottom: 40px;
    width: 100%;
}

.eifOUF {
    padding: 40px 20px 0px;
    text-align: left;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.eifOUF {
    text-align: center;
}

.fihCFR {
    position: relative;
}

.eifOUF {
    padding: 40px 20px 0px;
    text-align: left;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.Ikmjq {
    width: 80px;
    height: 80px;
}

.Ikmjq {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

img {
    vertical-align: top;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.kjfrAo {
    font-size: 16px;
    margin-top: 20px;
}

.kjfrAo {
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Pretendard Variable";
    margin-top: 22px;
    color: rgb(33, 39, 42);
}

.jZihcs {
    display: none;
}

.jZihcs {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 43px;
}

.ObPLl {
    font-size: 15px;
}

.bxkBQf {
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.diZgaK {
    margin-top: 5px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.ObPLl {
    font-size: 15px;
}

.bDPsFn {
    cursor: pointer;
    display: flex;
}

.diZgaK img {
    width: 16px;
    height: 16px;
    margin-left: 1px;
}

.bxkBQf {
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.iZvxYD {
    padding: 0px 20px;
}

.iZvxYD {
    margin-top: 26px;
    letter-spacing: -0.4px;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 145%;
    color: rgb(134, 140, 149);
}

.yJjSB {
    letter-spacing: -0.4px;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 145%;
}

.kyaeva {
    color: rgb(0, 164, 179);
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
}

.memberInfoMyDataBox {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 25px;
    padding: 18px 0px 18px 22px;
    border: 1px solid rgb(235, 235, 235);
}

.krMsxi {
    font-weight: 700;
    font-size: 16px;
}

.cUCvtq {
    margin-left: 2px;
    width: 17px;
    height: 17px;
}

.dxQuDY {
    position: relative;
    margin-bottom: 50px;
    margin-left: auto;
}

.DYtOY {
    position: relative;
}

.rfrDX {
    height: 230px;
    width: 730px;
    position: relative;
    margin-bottom: 32px;
}

.tADgl {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 26%;
    border-radius: 10px;
}

.Npjdj {
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    width: 180px;
    position: absolute;
    bottom: -40px;
    left: 83%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgb(0, 190, 204) 0%, rgb(132, 71, 255) 100%);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 10px 14px;
    font-style: normal;
    letter-spacing: -0.2px;
}

.iKBbsw {
    margin-top: 16px;
    padding: 0px 20px;
}

.iKBbsw {
    display: flex;
}

.eoXkMa {
    font-weight: 700;
    margin-right: 40px;
    border-bottom: none;
    cursor: pointer;
}

.eoXkMa {
    font-weight: 700;
    margin-right: 30px;
    border-bottom: none;
    cursor: pointer;
}

.active {
    font-weight: 700;
    margin-right: 30px;
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

.FOhDV {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
}

.kKhNjD {
    display: flex;
}

.PkGWZ {
    box-sizing: border-box;
    margin-right: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.375rem;
    width: 180px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 224, 229);
}

.ippamR {
    padding: 0px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.iMjfZL {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.haDSxX {
    box-sizing: border-box;
    margin-right: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.375rem;
    width: 130px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 224, 229);
}

.ippamR {
    padding: 0px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.hJOSoO {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.xaMDp {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
}

.jTtWdO {
    width: 28px;
    height: 31px;
}

.geRbir {
    margin-top: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.ZnVII {
    margin-left: 20px;
    margin-top: 0px;
}

.ZnVII {
    margin-top: 26px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.ikbVGV {
    font-weight: 700;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    line-height: 134%;
}


.ggppXW {
    grid-template-columns: 48.5% 48.5%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ggppXW {
    width: 100%;
    display: grid;
    grid-template-columns: 247px 247px 247px;
}

.fneRMy {
    width: 100%;
}

.fneRMy {
    width: 230px;
    margin-bottom: 20px;
    cursor: pointer;
}

.iVHRFl {
    position: relative;
}

.guqHsj {
    width: 100%;
    height: 171px;
}

.guqHsj {
    width: 231px;
    height: 231px;
    border-radius: 5px;
    object-fit: cover;
}

.iRhXcK {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.ildnCD {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
}

.dttiYe {
    right: 5px;
}

.dttiYe {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.bvJFcV {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ljKqnY {
    font-size: 14px;
    margin-top: 5px;
}

.ljKqnY {
    margin-top: 7px;
    color: rgb(69, 76, 83);
    font-size: 17px;
}

.bKFesW {
    font-size: 16px;
}

.bKFesW {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.fPDVWA {
    width: 33px;
    height: 33px;
}

.fPDVWA {
    width: 39px;
    height: 39px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 11px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 7px;
}

.dfwPrT {
    width: 16px;
    height: 16px;
}

.paging ul {
    text-align: center;
    margin: 20px 0;
}

.paging ul li:first-child {
    border: 1px solid #c9cdd2;
}

.paging ul li {
    display: inline-block;
    border-radius: 50%;
    border: 0;
    line-height: 32px;
    font-size: 14px;
    margin-right: 25px;
    cursor: pointer;
}

.paging ul li.active {
    background-color: #00becc;
    border: 1px solid #00becc;
}

.paging ul li {
    display: inline-block;
    border-radius: 50%;
    border: 0;
    line-height: 32px;
    font-size: 14px;
    margin-right: 25px;
    cursor: pointer;
}

.paging ul li.active .paging_box {
    color: #fff;
}

.paging .paging_box {
    width: 32px;
    height: 32px;
    text-align: center;
    color: #454c53;
    line-height: 30px;
}

.QZXDX {
    display: flex;
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 20px;
    cursor: pointer;
}

.krVQOH {
    position: relative;
    width: 163px;
}

.eaTPEQ {
    width: 163px;
    height: 163px;
    object-fit: cover;
}

.iRhXcK {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.ildnCD {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
}

.evciSB {
    padding: 0px 20px;
    width: 100%;
}

.gvoavX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
}

.kgIVuq {
    font-size: 17px;
    color: rgb(69, 76, 83);
}

.jWxaCA {
    color: rgb(157, 157, 157);
    font-size: 12px;
}

.cmwbwJ {
    margin-top: 5px;
    font-size: 24px;
}

.bFCrnB {
    margin-top: 55px;
    color: rgb(102, 102, 102);
    font-size: 12px;
}

.FOhDV {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
}

.kKhNjD {
    display: flex;
}

.PkGWZ {
    box-sizing: border-box;
    margin-right: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.375rem;
    width: 180px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 224, 229);
}

.ippamR {
    padding: 0px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.iMjfZL {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.haDSxX {
    box-sizing: border-box;
    margin-right: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.375rem;
    width: 130px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 224, 229);
}

.ippamR {
    padding: 0px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.eGrrgd {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

.fGlYoT {
    box-sizing: border-box;
    margin-right: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.375rem;
    width: 140px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 224, 229);
}

.ippamR {
    padding: 0px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.fKusCW {
    color: rgb(52, 58, 63);
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
}

img {
    vertical-align: top;
}

.iiLiGM {
    position: relative;
    width: 9.375rem;
    height: 2.375rem !important;
}

input[type=date], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], textarea {
    border-radius: 8px;
}

input[type=date], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], textarea {
    -webkit-appearance: none;
    padding: 8px 0 8px 16px;
    font-size: 14px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    border: 1px solid #e8ebed;
}

.inqgpT {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(52, 58, 63);
    caret-color: rgb(0, 190, 204);
    border-radius: 6px !important;
}

.gSfjHN {
    position: absolute;
    right: 14px;
    top: 10.5px;
}

.xaMDp {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
}

.jTtWdO {
    width: 28px;
    height: 31px;
}

.jTtWdO {
    width: 28px;
    height: 31px;
}


.geRbir {
    margin-top: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}


.ZnVII {
    margin-top: 26px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.ikbVGV {
    font-weight: 700;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    line-height: 134%;
}

.kEbDVd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.kBXJCm {
    cursor: pointer;
    color: rgb(52, 58, 63);
    margin-right: 11.5px;
    letter-spacing: -0.4px;
    font-weight: 500;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 145%;
}

.iyOWTU {
    margin-top: 16px;
    padding: 0px 10px;
    height: 1000px;
    overflow: auto;
}

.FnzNS {
    height: 500px;
    display: grid;
    justify-items: center;
    align-content: center;
    overflow: auto;
}

.JxliI {
    color: rgb(52, 58, 63);
    margin-bottom: 8px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Pretendard Variable";
    line-height: 100%;
}

.ekpKDQ {
    color: rgb(105, 112, 119);
    letter-spacing: -0.4px;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: "Pretendard Variable";
    line-height: 145%;
}

.gkrTC {
    margin-top: 16px;
    width: 158px;
    height: 42px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid rgb(52, 58, 63);
    border-radius: 8px;
    cursor: pointer;
}

.iUdVkN {
    color: rgb(52, 58, 63);
    letter-spacing: -0.6px;
    font-weight: 500;
    font-size: 0.938rem;
    font-family: "Pretendard Variable";
    line-height: 120%;
}


.payCharge {
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
    color: rgb(44, 44, 44);
    margin: auto 0px;
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid rgb(44, 44, 44);
}


.payReturn {
	letter-spacing: 0px;
    font-weight: 500;
    font-size: 0.813rem;
    font-family: "Pretendard Variable";
    line-height: 154%;
    color: rgb(44, 44, 44);
    margin: auto 0px;
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid rgb(44, 44, 44);
}


