<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.AuctionMapper">

	<select id="selectAuction" resultType="hashmap">
		SELECT 
		     a.auction_code
		   , auction_type
		   , auction_item_name
		   , auction_content
		   , auction_present_price
		   , auction_immediate_price
		   , DATE_FORMAT(auction_date, '%Y.%m.%d %H:%i') AS auction_date
		   , DATE_FORMAT(auction_start_date, '%Y.%m.%d %H:%i') AS auction_start_date
		   , DATE_FORMAT(auction_end_date, '%Y.%m.%d %H:%i') AS auction_end_date
		   , DATEDIFF(auction_start_date, now()) AS auction_datediff
		   , auction_status
		   , success_price
		   , auction_notice
		   , auction_category
		   , image_code
		   , table_code
		   , image_name
		   , COALESCE(enroll_count, 0) AS enroll_count -- enroll_count 가 null이면 0
		   , ROW_NUMBER() OVER(ORDER BY a.auction_date ) AS rownum
		   , count(*) over() AS totalCnt
		FROM auction a 
			JOIN images i ON a.auction_code = i.table_code
			LEFT JOIN (
			    SELECT auction_code, COUNT(*) AS enroll_count
				    FROM auction_enroll
					    GROUP BY auction_code) AS ae 
				ON a.auction_code = ae.auction_code
		WHERE 1=1
			<if test="searchKeyword != null and !searchKeyword.equals('')">
				AND (auction_item_name LIKE '%${searchKeyword}%' OR auction_content LIKE '%${searchKeyword}%')
			</if>
			<if test="typeSelect != null and !typeSelect.equals('') and !typeSelect.equals('전체')">
				AND auction_type = #{typeSelect}
			</if>
			<if test="startNum != null and !startNum.equals('')">
				LIMIT ${startNum}, ${endNum}
			</if>
	</select>
	
	<select id="selectAuctionCode" resultType="hashmap">
		SELECT 
			 a.auction_code
		   , auction_type
		   , auction_item_name
		   , auction_content
		   , auction_present_price
		   , auction_immediate_price
		   , DATE_FORMAT(auction_date, '%Y.%m.%d %H:%i') 'auction_date'
		   , DATE_FORMAT(auction_start_date, '%Y.%m.%d %H:%i') 'auction_start_date'
		   , DATE_FORMAT(auction_end_date, '%Y.%m.%d %H:%i') 'auction_end_date'
		   , auction_status
		   , success_price
		   , auction_notice
		   , auction_category
		   , image_code
		   , table_code
		   , image_name
		   , COALESCE(ae.enroll_count, 0) AS enroll_count
		 		FROM auction a 
		 			JOIN images i 
		 				ON a.auction_code = i.table_code
		 			LEFT JOIN (
			 			SELECT auction_code, COUNT(*) AS enroll_count
							FROM auction_enroll
								GROUP BY auction_code) AS ae
						ON a.auction_code = ae.auction_code
				WHERE a.auction_code = #{auction_code};
	</select>
	
	<insert id="insertEnroll">
		INSERT INTO auction_enroll 
					VALUES(
						  ((SELECT *
	  							FROM 
	  								(SELECT IFNULL(MAX(CAST(enroll_code AS UNSIGNED)) ,0) FROM auction_enroll) A)+1)
						, #{auction_code}
						, #{id}
						, 'N'
					)
	</insert>
	
	<select id="selectAuctionEnroll" resultType="hashmap">
		SELECT * 
			FROM auction_enroll
				WHERE auction_code = #{auction_code} AND member_id = #{id}
			
	</select>

	<!-- 소켓 사용한 경매 기록 저장 -->
	<insert id="insertAuctionLog">
		INSERT 
			INTO auction_log 
			VALUES (
				(SELECT *
					FROM (SELECT IFNULL(MAX(CAST(log_code  AS UNSIGNED)),0) +1
			 			FROM auction_log) A)
					, #{auctionCode}
					, #{id}
					, #{messages}
					, now()
					)
	</insert>
	
	<!-- 경매 상세 기록 검색 -->
	<select id="selectAuctionLog" resultType="hashmap">
		SELECT 
			  auction_log.log_code
			, auction_log.auction_code
			, auction_log.member_id
			, auction_log.log_content
			, DATE_FORMAT(log_time, '%H:%i') 'log_time'
			, member.member_nickname
				FROM auction_log
					LEFT JOIN member
					ON member.member_id = auction_log.member_id
				WHERE auction_code = #{auction_code}
	</select>
	
	<!-- 경매 마지막 로그 검색 -->
	<select id="selectLastLog" resultType="hashmap">
		SELECT auction_log.*, member.member_nickname
			FROM auction_log
				LEFT JOIN member
				ON member.member_id = auction_log.member_id
			WHERE auction_code = #{auction_code}
				ORDER BY log_time DESC LIMIT 1
	</select>
	
	<!-- 나의 경매 기록 -->
	<select id="selectMyLog" resultType="hashmap">
		SELECT *
			FROM auction_log
				WHERE member_id = #{id}
				and auction_code = #{auction_code}
					ORDER BY log_time DESC LIMIT 1
	</select>
	
	
	<update id="updateAuctionFinish">
		UPDATE auction 
			SET auction_type = '경매 완료'
				, auction_status = #{success_id}
				, success_price = #{success_price}
			WHERE 
				auction_code = #{auction_code}
	</update>
	
	
	<!-- 06.08. 14:44 추가 -->
	<select id="selectMyAuctionByMember" resultType="hashmap">
		SELECT 
			a.*
			, ap.pay_code
		FROM 
			auction a
		LEFT JOIN
				(SELECT *
				FROM	auction_paid
				WHERE member_id = #{member_id}) ap
		ON
			a.auction_code = ap.auction_code
		WHERE a.auction_status = #{member_nickname}
		ORDER BY a.auction_end_date DESC
	</select>
	
	<!-- 결제 결과 등록 -->
	<insert id="insertPayResult">
		INSERT 
			INTO auction_paid
			VALUES (
					  #{pay_code}
					, #{auction_code}
					, #{pay_price}
					, #{member_id}
					, #{member_tel}
					, #{member_address}
					, #{member_address_detail}
					, #{pay_request}
					, now()
					)
	</insert>
	
</mapper>
