<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.CommunityMapper">
	
	<!--커뮤니티 글등록 -->
	<insert id = "insertBoard">
		<selectKey keyProperty="comm_code" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(comm_code), 0) FROM community
		</selectKey>
		INSERT 
			INTO community
			VALUES (
				#{comm_code} + 1
				,#{id}
				,#{comm_title}
				,#{comm_content}
				,now()
				,"1"			
			)
	</insert>

	<select id = "boardList" resultType="hashmap">
		SELECT * FROM community
	</select>
	
</mapper>
