<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.CommunityMapper">
	
	<!--커뮤니티 글등록 -->
	<insert id = "insertBoard">
<!-- 		<selectKey keyProperty="comm_code" resultType="int" order="BEFORE"> -->
<!-- 			SELECT IFNULL(MAX(comm_code), 0) FROM community -->
<!-- 		</selectKey> -->
  <selectKey keyProperty="comm_code" resultType="String" order="BEFORE">
    SELECT CONCAT(IFNULL(MAX(CAST(comm_code AS UNSIGNED)), 0) + 1, '') FROM community
  </selectKey>
		INSERT 
			INTO community
			VALUES (
				#{comm_code}
				,#{id}
				,#{comm_title}
				,#{comm_content}
				,now()
				,"0"			
			)
	</insert>
	
	<!-- 조회수 증가 -->
	<update id="increaseViews" parameterType="String">
	  UPDATE community
	  SET comm_count = comm_count + 1
	  WHERE comm_code = #{comm_code}
	</update>

<!-- 	<select id = "boardList" resultType="hashmap"> -->
<!-- 		SELECT * FROM community -->
<!-- 	</select> -->

<!-- 커뮤니티 리스트 -->
	<select id="boardList" resultType="hashmap">
<!-- 	  SELECT c.*, m.member_nickname -->
<!-- 	  FROM community c -->
<!-- 	  LEFT JOIN member m ON c.member_id = m.member_id -->
<!-- 	  ORDER BY c.comm_date DESC -->
  SELECT c.*, DATE_FORMAT(c.comm_date, '%Y-%m-%d') AS formatted_date, m.member_nickname
  FROM community c
  LEFT JOIN member m ON c.member_id = m.member_id
  ORDER BY c.comm_date DESC
	</select>
	
	<select id="boardDetail" parameterType="String" resultType="HashMap">
	  SELECT * FROM community WHERE comm_code = #{comm_code}
	</select>
	
	<!--커뮤니티 댓글등록 -->
	<insert id="addComment">
		INSERT INTO reply 
		VALUES (
		(SELECT *
  			  FROM (SELECT IFNULL(MAX(reply_code),0) FROM reply) A)+1,
		#{id},
		#{content},
		NOW(),
		#{comm_code}
		)
	</insert>
	
<!-- 	댓글 리스트 -->

<!-- 	<select id="replyList" resultType="hashmap"> -->
<!-- 		SELECT * FROM reply -->
<!-- 		WHERE comm_code = #{comm_code} -->
<!-- 	</select> -->

	<select id="replyList" resultType="hashmap">
	  SELECT r.*, m.member_nickname
	  FROM reply r
	  LEFT JOIN member m ON r.member_id = m.member_id
	  WHERE r.comm_code = #{comm_code}
	</select>



	<select id="commentCount" resultType="int">
		SELECT count(*) from reply
		WHERE comm_code = #{comm_code}
	</select>
	
	<select id="getComment" resultType="hashMap">
		SELECT * from reply
		WHERE reply_code = #{reply_code}
	</select>


	<delete id="deleteComment" parameterType="int">
		DELETE FROM reply
		WHERE reply_code = #{reply_code}
	</delete>
	
	<delete id="deleteBoard" parameterType="string">
    DELETE r, c
    FROM community c
    LEFT JOIN reply r ON r.comm_code = c.comm_code
    WHERE c.comm_code = #{comm_code}
</delete>

	
	
</mapper>
