<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.MarketMapper">
	<insert id="insertItem">
	INSERT INTO item 
	SELECT CONCAT('market', LPAD(CAST(SUBSTRING(item_code, 7) AS UNSIGNED) + 1, 4, '0')),
		'admin',
		#{item_subject},
		#{item_content},
		#{item_price},
			IFNULL((SELECT CASE WHEN #{item_price_offer} = 'on' THEN 'Y' ELSE 'N' END), 'N'),
		#{item_tag},
		#{item_category},	
		'판매중',
		NOW()
	FROM item
	ORDER BY item_code DESC
	LIMIT 1
	</insert>
	
	<insert id="savePhotoInfo">
	
	INSERT INTO photo
		VALUES (
			#{photo_code}
			,#{item_code}
			,#{photo_name}
			,#{photo_path}
		)

	</insert>
	
	
	
	<!-- 채팅관련 -->
	<select id="getItem" resultType="hashmap">
	 	SELECT *
	 		 FROM market_chat_rooms
	  			WHERE item_code=#{item_code};
	</select>
	
	<select id="sellDetail" resultType="hashmap">
		SELECT item.*,member.member_nickname 
			FROM item 
				LEFT JOIN member
					ON member.member_id=item.member_id 
			WHERE item_code =#{item_code};
	</select>
	
	
	
	<select id="getAllItem" resultType="hashmap">
		SELECT *
	 		 FROM market_chat_rooms
	</select>
	
	
	
	
	
	<select id="sellCount" resultType="int">
		SELECT count(*)
			FROM item
				WHERE member_id = #{member_id}
	</select>
	
	<!-- 내채팅목록 -->
	<select id="myChatList" resultType="hashmap">
		SELECT room_code, chat_code, chat_content, oppenent_nick
			FROM (
			    SELECT room_code, chat_code, chat_content, oppenent_nick,
			           ROW_NUMBER() OVER (PARTITION BY room_code ORDER BY chat_code DESC) AS row_num
			    FROM (
			        SELECT room_code,
					       chat_code,
					       chat_content,
					       member.member_nickname AS oppenent_nick
					FROM   market_chat_messages
					       LEFT JOIN member
					              ON member.member_id = market_chat_messages.sell_member_id
					WHERE  buy_member_id = #{id}
					UNION
					SELECT room_code,
					       chat_code,
					       chat_content,
					       member.member_nickname AS oppenent_nick
					FROM   market_chat_messages
					       LEFT JOIN member
					              ON member.member_id = market_chat_messages.buy_member_id
					WHERE  sell_member_id = #{id}
			    ) AS a
			) AS b
		WHERE row_num = 1;
	
	</select>
	
<!-- 	<select id="chatSubject"> -->
<!-- 		SELECT market_chat_rooms.*,item.member_id ,item.item_subject FROM market_chat_rooms -->
<!-- 			LEFT JOIN item -->
<!-- 					ON item.item_code = market_chat_rooms.item_code  -->
<!-- 		WHERE item.member_id=#{id} -->
<!-- 	</select> -->
	
	<!-- 아이템상세정보 -->
	<select id="itemList" resultType="hashmap">
		SELECT *
			 FROM item
		 		WHERE item_code = #{item_code}
	</select>



	<!-- 마켓 아이템 리스트 -->
	<select id="marketItemList" resultType="hashmap">
<!-- 		SELECT *  -->
<!-- 			FROM  -->
<!-- 				item  -->
<!-- 			ORDER BY  -->
<!-- 				item_code desc -->
		<!-- 수정중 -->
		SELECT i.*, m.grade_score
			FROM 
				item i
			JOIN
				member m
			ON
				i.member_id = m.member_id
			WHERE 
				i.item_category like CONCAT('%',#{item_category},'%')
			AND
				i.item_status = #{item_status}
			AND
				replace(i.item_price,',','') BETWEEN #{item_price_min} AND #{item_price_max}
			AND
				m.grade_score >= "50"
			ORDER BY 
				i.item_code DESC
	</select>
	
</mapper>
