<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.MarketMapper">

<!-- 등록될 상품코드조회 -->
	<select id="selectItem" resultType="String" >
		SELECT CONCAT('market', LPAD(CAST(SUBSTRING(item_code, 7) AS UNSIGNED) + 1, 4, '0')) 
		FROM item
		ORDER BY item_code DESC
		LIMIT 1;
	</select>
	
<!-- 상품등록 -->
	<insert id="insertItem">
    INSERT INTO item 
	    VALUES (
	        #{item_code},
	        #{id},
	        #{item_subject},
	        #{item_content},
	        #{item_price},
	        IFNULL((SELECT CASE WHEN #{item_price_offer} = 'on' THEN 'Y' ELSE 'N' END), 'N'),
	        #{item_tag},
	        #{item_category},
	        '판매중',
	        NOW()
	    )
	</insert>

<!-- 상품이미지등록 -->	
	<insert id="saveImage">
	
	INSERT INTO images
		VALUES (
			#{image_code}
			,#{item_code}
			,#{image_name}
		)

	</insert>
	
	
	
	<!-- 채팅관련 -->
	<select id="getItem" resultType="hashmap">
	 	SELECT *
	 		 FROM market_chat_rooms
	  			WHERE item_code=#{item_code};
	</select>
	
	<select id="sellDetail" resultType="hashmap">
		SELECT item.*,member.member_nickname 
			FROM item 
				LEFT JOIN member
					ON member.member_id=item.member_id 
			WHERE item_code =#{item_code};
	</select>
	
	
	
	<select id="getAllItem" resultType="hashmap">
		SELECT *
	 		 FROM market_chat_rooms
	</select>
	
	
	<select id="sellCount" resultType="int">
		SELECT count(*)
			FROM item
				WHERE member_id = #{openentId}
	</select>
	
	<select id="opponentId" resultType="hashmap">
		SELECT oppenent_id
         FROM (
             SELECT room_code, chat_code, oppenent_id,
                    ROW_NUMBER() OVER (PARTITION BY room_code ORDER BY chat_code DESC) AS row_num
             FROM (
                 SELECT market_chat_rooms.room_code,
                        chat_code,
                        member.member_id AS oppenent_id
           	   		FROM   market_chat_messages
	                      LEFT JOIN member
	                             ON member.member_id = market_chat_messages.sell_member_id
	                      LEFT JOIN market_chat_rooms
	                      		 ON market_chat_rooms.room_code = market_chat_messages.room_code
	                      LEFT JOIN item 
	                      		 ON item.item_code=market_chat_rooms.item_code 
              		 WHERE  buy_member_id = #{ssesion_id}
               UNION
	             SELECT market_chat_rooms.room_code,
	                    chat_code,
	                    member.member_id AS oppenent_id
	             	FROM   market_chat_messages
		                    LEFT JOIN member
		                           ON member.member_id = market_chat_messages.buy_member_id
		                    LEFT JOIN market_chat_rooms
	                      		   ON market_chat_rooms.room_code = market_chat_messages.room_code
                  		   	LEFT JOIN item 
	                      		 ON item.item_code=market_chat_rooms.item_code 
              		 WHERE  sell_member_id = #{ssesion_id}
             	) AS a
         	) AS b
      WHERE row_num = 1 and room_code =#{room_code}
	</select>
	
	<!-- 내채팅목록 -->
	<select id="myChatList" resultType="hashmap">
		SELECT b.room_code, chat_code, chat_content, oppenent_nick,chat_time,b.item_subject,chat_openDate
         FROM (
             SELECT room_code, chat_code, chat_content, oppenent_nick,
                    ROW_NUMBER() OVER (PARTITION BY room_code ORDER BY chat_code DESC) AS row_num , chat_time, a.item_subject ,chat_openDate
             FROM (
                 SELECT market_chat_rooms.room_code,
                        chat_code,
                        market_chat_rooms.chat_content,
                        member.member_nickname AS oppenent_nick,
                        chat_time,
                        item.item_subject ,
                        market_chat_rooms.chat_openDate
           	   		FROM   market_chat_messages
	                      LEFT JOIN member
	                             ON member.member_id = market_chat_messages.sell_member_id
	                      LEFT JOIN market_chat_rooms
	                      		 ON market_chat_rooms.room_code = market_chat_messages.room_code
	                      LEFT JOIN item 
	                      		 ON item.item_code=market_chat_rooms.item_code 
              		 WHERE  buy_member_id = #{id}
               UNION
	             SELECT market_chat_rooms.room_code,
	                    chat_code,
	                    market_chat_rooms.chat_content,
	                    member.member_nickname AS oppenent_nick,
	                    chat_time,
	                    item.item_subject,
	                    market_chat_rooms.chat_openDate
	             	FROM   market_chat_messages
		                    LEFT JOIN member
		                           ON member.member_id = market_chat_messages.buy_member_id
		                    LEFT JOIN market_chat_rooms
	                      		   ON market_chat_rooms.room_code = market_chat_messages.room_code
                  		   	LEFT JOIN item 
	                      		 ON item.item_code=market_chat_rooms.item_code 
              		 WHERE  sell_member_id = #{id}
             	) AS a
         	) AS b
      	WHERE row_num = 1
	
	</select>
	
	
	<!-- 아이템상세정보 -->
	<select id="itemList" resultType="hashmap">
		SELECT *
			 FROM item
		 		WHERE item_code = #{item_code}
	</select>

	<!-- 채팅상세내용 -->
	<select id="chatDetail" resultType="hashmap">
		SELECT
			market_chat_messages.*,
			market_chat_rooms.chat_openDate,
			chat_mem_id,
			seller.member_nickname as sell_nickname,
			buyer.member_nickname as buy_nickname,
			item.item_status
		FROM
			market_chat_messages
				LEFT JOIN market_chat_rooms
				  ON
					market_chat_messages.room_code = market_chat_rooms.room_code
				LEFT JOIN member as seller
				  ON
					seller.member_id = market_chat_messages.sell_member_id
				LEFT JOIN member as buyer
				  ON
					buyer.member_id = market_chat_messages.buy_member_id
				LEFT JOIN item 
				  ON
				  	item.item_code = market_chat_rooms.item_code 
		WHERE
			market_chat_messages.room_code = #{room_code}
	</select>


	<!-- 마켓 아이템 리스트 -->
	<select id="marketItemList" resultType="hashmap">
<!-- 		SELECT *  -->
<!-- 			FROM  -->
<!-- 				item  -->
<!-- 			ORDER BY  -->
<!-- 				item_code desc -->
		<!-- 수정중 -->
		SELECT i.*, m.grade_score
			FROM 
				item i
			JOIN
				member m
			ON
				i.member_id = m.member_id
			WHERE 
				i.item_category like CONCAT('%',#{item_category},'%')
			AND
				i.item_status = #{item_status}
			AND
				replace(i.item_price,',','') BETWEEN #{item_price_min} AND #{item_price_max}
			AND
				m.grade_score >= "50"
			ORDER BY 
				i.item_code DESC
	</select>
	
</mapper>
