<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.MarketMapper">

<insert id ="insertItem">
	INSERT 
		INTO item
		VALUES (
		1
		,null
		,null
		,null
		,null
		,null
		,null
		,null
		,null
		,null
		,now()
		)
<!-- 	INSERT  -->
<!-- 		INTO item -->
<!-- 		VALUES ( -->
<!-- 		#{item_code} -->
<!-- 		,#{member_id} -->
<!-- 		,#{item_name} -->
<!-- 		,#{item_subject} -->
<!-- 		,#{item_content} -->
<!-- 		,#{item_price} -->
<!-- 		,#{item_price_offer} -->
<!-- 		,#{item_tag} -->
<!-- 		,#{item_category} -->
<!-- 		,#{item_status} -->
<!-- 		,now() -->
<!-- 		) -->
</insert>


<select id="getItem" resultType="hashmap">
 	SELECT *
 		 FROM market_chat_rooms
  			WHERE item_code=#{item_code};
</select>


</mapper>
