<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.MemberMapper">
	<insert id="insertMember">
		INSERT INTO member
			VALUES(
				   #{member_id}
				   , #{member_name}
				   , #{member_nickname}
				   , #{member_pw}
				   , #{member_address}
				   , #{member_address_detail}
				   , #{member_bday}
				   , #{member_email}
				   , #{member_tel}
				   , '0'
				   , 'N' -- member_auth_status
				   , now() 
				   , ''	-- member_image
				   , '0' -- grade_score
				   , '0' -- declare_count
				   , #{member_X}
				   , #{member_Y}
			)
	</insert>
	<select id="selectMember" resultType="hashmap">
		SELECT 	*
			FROM member
				WHERE member_id = #{member_id} 
	</select>
	
	
	
	<select id="selectCloseMemberList" resultType="hashmap">
		SELECT 	*
			FROM member
			WHERE  
	</select>
	<!-- 비밀번호 재설정 -->
	<update id="renewPw">
		UPDATE member
			SET member_pw = #{member_pw}
				WHERE member_id = #{member_id}
	</update>
	
	<!-- 비밀번호 찾기 회원 인증 -->
	<select id="phoneCheck" resultType="hashmap">
		SELECT *
			FROM member
				WHERE 
					member_id = #{member_id}
					AND member_name = #{member_name}
					AND member_bday = #{member_bday}
					AND member_tel = #{member_tel}
	</select>	
	
	
	
	<update id="updateAuth">
		UPDATE member
			SET member_auth_status = 'Y'
			WHERE member_id = #{member_id} 
	
	</update>
	<select id="selectKakao" resultType="hashmap">
		SELECT * FROM member
			WHERE member_email = #{email}
	</select>
	<select id="findId" resultType="hashmap">
		SELECT * FROM member
			WHERE member_name = #{member_name}
				AND member_bday = #{member_bday}
				AND member_tel = #{member_tel}
	</select>
	
	<select id="selectWishItemList" resultType="hashmap">
		SELECT 	*
			FROM wish
				WHERE member_id = #{member_id} 
	</select>
	<select id="selectSellItemList" resultType="hashmap">
		SELECT 	*
			FROM market_paid
				WHERE sell_id = #{member_id} 
	</select>
	<select id="selectBuyItemList" resultType="hashmap">
		SELECT 	*
			FROM market_paid
				WHERE buy_id = #{member_id} 
	</select>
</mapper>
