<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.moneytto.mapper.MemberMapper">
	<insert id="insertMember">
		INSERT INTO member
			VALUES(
				   #{member_id}
				   , #{member_name}
				   , #{member_nickname}
				   , #{member_pw}
				   , #{member_address}
				   , #{member_address_detail}
				   , #{member_bday}
				   , #{member_email}
				   , #{member_tel}
				   , '0'
				   , 'N' -- member_auth_status
				   , now() 
				   , ''	-- member_image
				   , '0' -- grade_score
				   , '0' -- declare_count
				   , #{member_X}
				   , #{member_Y}
			)
	</insert>
	<select id="selectMember" resultType="hashmap">
		SELECT 	*
			FROM member
				WHERE member_id = #{member_id} 
	</select>
	<update id="updateAuth">
		UPDATE member
			SET member_auth_status = 'Y'
			WHERE member_id = #{member_id} 
	
	</update>
	<select id="selectKakao" resultType="hashmap">
		SELECT * FROM member
			WHERE member_email = #{email}
	</select>
</mapper>
